%script{:type => "text/ng-template", :id => "views/partials/user-header.html"}
  .user-header
    .logo
      %a{:href => '#'}
        %img{:src => '/images/logo-header-small.svg', :width => '42', :height => '42'}
    .name
      Isaac T. Wooten
    .divider
    .position
      %span Designer
      %span.ampersand
        %i.icon-portfolio-ampersand
      %span Developer