<script id='views/partials/user-header.html' type='text/ng-template'>
  <div class='user-header'>
    <div class='logo'>
      <a href='#'>
        <img height='42' src='/images/logo-header-small.svg' width='42' />
      </a>
    </div>
    <div class='name'>
      Isaac T. Wooten
    </div>
    <div class='divider'></div>
    <div class='position'>
      <span>Designer</span>
      <span class='ampersand'>
        <i class='icon-portfolio-ampersand'></i>
      </span>
      <span>Developer</span>
    </div>
  </div>
</script>
