%audio.audio#rollover
  %source{:src => "audio/rollover4.mp3"}
  %source{:src => "audio/rollover4.ogg"}
%audio.audio#whoosh
  %source{:src => "audio/rollover3.mp3"}
  %source{:src => "audio/rollover3.ogg"}
%audio.audio#click
  %source{:src => "audio/whoosh.mp3"}
  %source{:src => "audio/whoosh.ogg"}
