%main#main{:"ng-controller" => "MainCtrl"}

  #loading
    .spinner

  #overlay
    .spinner
    .logo-preload
      .image
        %img{:src => "images/logo-footer.svg"}
      .text

  #audio-toggle
    %a.audio-tooltip{:href => '#', :"ng-settings" => '', :"data-audio" => "audio",  :"ng-click" => "toggleAudio()"}
      .on-state
        %i.icon-portfolio-volume-medium
      .off-state
        %i.icon-portfolio-volume-mute

  <%- partial('theme-container') %>

  #audio-container

    <%- partial('audio') %>

  <%- partial('sidebar') %>

  %section.content{:"data-ng-view" => ''}

  .push