<main id='main' ng-controller='MainCtrl'>
<div id='loading'>
<div class='spinner'></div>
</div>
<div id='overlay'>
<div class='spinner'></div>
<div class='logo-preload'>
<div class='image'>
<!-- %img{:src => "images/logo-footer.svg"} -->
</div>
<div class='text'></div>
</div>
</div>
<div id='audio-toggle'>
<a class='audio-tooltip' data-audio='audio' href='#' ng-click='toggleAudio()' ng-settings=''>
<div class='on-state'>
<i class='icon-portfolio-volume-medium'></i>
</div>
<div class='off-state'>
<i class='icon-portfolio-volume-mute'></i>
</div>
</a>
</div>
<%- partial('theme-container') %>
<div id='audio-container'>
<%- partial('audio') %>
</div>
<%- partial('sidebar') %>
<section class='content' data-ng-view=''></section>
<div class='push'></div>
</main>
