%main#main{:"ng-controller" => "MainCtrl"}

  #loading
    .spinner

  #overlay
    .spinner
    .logo-preload
      %img{:src => "images/logo-footer.svg"}

  <%- partial('audio') %>
  <%- partial('sidebar') %>

  %section.content{:"ng-view" => ''}

  .push