<main data-ng-controller='MainCtrl'>
  <div id='overlay'>
    <div class='spinner'></div>
    <div class='logo-preload'>
      <img src='images/logo-footer.svg' />
    </div>
  </div>
  <%- partial('audio') %>
  <%- partial('sidebar') %>
  <section class='content' ng-view=''></section>
  <div class='push'></div>
</main>
