%main#main{:"ng-controller" => "MainCtrl"}

  #loading
    .spinner

  #overlay
    .spinner
    .logo-preload
      .image
        %img{:src => "images/logo-footer.svg"}

  #audio-toggle
    %a.on.audio-tooltip{:href => '#', :data => {:behavior => 'toggle-audio-state'}}
      .on-state
        %i.icon-portfolio-volume-medium
      .off-state
        %i.icon-portfolio-volume-mute

  <%- partial('theme-container') %>

  #audio-container

    <%- partial('audio') %>

  <%- partial('sidebar') %>

  %section.content{:"data-ng-view" => ''}

  .push