<main id='main' ng-controller='MainCtrl'>
<div id='loading'>
<div class='spinner'></div>
</div>
<div id='overlay'>
<div class='spinner'></div>
<div class='logo-preload'>
<img src='images/logo-footer.svg'>
</div>
</div>
<div id='audio-toggle'>
<a class='on' data-behavior='toggle-audio-state' href='#'>
<div class='on-state'>
<i class='icon-portfolio-volume-medium'></i>
</div>
<div class='off-state'>
<i class='icon-portfolio-volume-mute'></i>
</div>
</a>
</div>
<div class='theme-container'>
<a data-behavior='toggle-theme' href='#'>
<div class='text'>
<i class='icon-portfolio-shuffle'></i>
</div>
<div class='loading'>
<div class='spinner'></div>
</div>
<div class='hexagon hexagon'>
<div class='hexagon-in1'>
<div class='hexagon-in2'>
<ul>
<li class='active'>
<img data-background='images/themes/ocean-rocks.jpg' data-position='bottom left' src='images/themes/ocean-rocks-thumb.jpg'>
</li>
<li>
<img data-background='images/themes/bees.jpg' data-position='bottom left' src='images/themes/bees-thumb.jpg'>
</li>
<li>
<img data-background='images/themes/autumn-leaves.jpg' data-position='top left' src='images/themes/autumn-leaves-thumb.jpg'>
</li>
<li>
<img data-background='images/themes/autumn-leaves2.jpg' data-position='top left' src='images/themes/autumn-leaves2-thumb.jpg'>
</li>
<li>
<img data-background='images/themes/dark-wood.jpg' data-position='bottom left' src='images/themes/dark-wood-thumb.jpg'>
</li>
<li>
<img data-background='images/themes/ladybug.jpg' data-position='top left' src='images/themes/ladybug-thumb.jpg'>
</li>
<li>
<img data-background='images/themes/ocean-cliff.jpg' data-position='top left' src='images/themes/ocean-cliff-thumb.jpg'>
</li>
<li>
<img data-background='images/themes/open-road.jpg' data-position='bottom left' src='images/themes/open-road-thumb.jpg'>
</li>
<li>
<img data-background='images/themes/summer-sky.jpg' data-position='bottom left' src='images/themes/summer-sky-thumb.jpg'>
</li>
<li>
<img data-background='images/themes/grass.jpg' data-position='bottom left' src='images/themes/grass-thumb.jpg'>
</li>
</ul>
</div>
</div>
</div>
<div class='title'>Swap Theme</div>
</a>
</div>
<div id='audio-container'>
<%- partial('audio') %>
</div>
<%- partial('sidebar') %>
<section class='content' ng-view=''></section>
<div class='push'></div>
</main>
