<main id='main' ng-controller='MainCtrl'>
<div id='loading'>
<div class='spinner'></div>
</div>
<div id='overlay'>
<div class='spinner'></div>
<div class='logo-preload'>
<img src='images/logo-footer.svg'>
</div>
</div>
<div id='event-container'></div>
<div id='audio-container'>
<%- partial('audio') %>
</div>
<%- partial('sidebar') %>
<section class='content' ng-view=''></section>
<div class='push'></div>
</main>
