%main{:"data-ng-controller" => "MainCtrl"}

  #overlay
    .spinner
    .logo-preload
      %img{:src => "images/logo-footer.svg"}

  <%- partial('audio') %>
  <%- partial('sidebar') %>

  %section.content{:"ng-view" => ''}

  .push