!!!
%html
  %head
    %meta{:"http-equiv" => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    %title<%- subject %>
    %body
      Name: <%- name %>
      %br/
      Email: <%- email %>
      %br/
      Phone: <%- phone %>
      %br/
      Website: <%- website %>
      %br/
      Message: <%- message %>