%footer.border.top
  .logo
    %a{:"ng-href" => '#'}
      %img{:src => '/images/logo-footer.svg', :width => '50', :height => '50'}
  .copyright
    %h4 &#169; 2013 Levid Media, LLC.
    %p Handcrafted in Sunny California
  .connect
    %h4 Contact
    %p
      / %i.icon-portfolio-email
      %a{:"ng-href" => '#/contact'} isaac@levid.com
  .made-with
    %h4 Made With
    %p
      %a{:"ng-href" => 'http://sailsjs.com/', :target => '_blank'} Sails.js
      %a{:"ng-href" => 'http://angularjs.org/', :target => '_blank'} Angular.js
      %a{:"ng-href" => 'http://socket.io/', :target => '_blank'} Socket.io
      %a{:"ng-href" => 'http://www.mongodb.org/', :target => '_blank'} Mongo DB
      %a{:"ng-href" => 'http://coffeescript.org/', :target => '_blank'} CoffeeScript
      %a{:"ng-href" => 'http://d3js.org/', :target => '_blank'} D3.js
  .social-links
    %ul
      %li
        %a.custom-tooltip{:"ng-href" => 'https://github.com/levid', :title => "GitHub", :target => '_blank'}
          %i.icon-portfolio-github
      %li
        %a.custom-tooltip{:"ng-href" => 'http://www.linkedin.com/in/levid', :title => "LinkedIn", :target => '_blank'}
          %i.icon-portfolio-linkedin
      %li
        %a.custom-tooltip{:"ng-href" => 'https://twitter.com/iwooten', :title => "Twitter", :target => '_blank'}
          %i.icon-portfolio-twitter
      %li
        %a.custom-tooltip{:"ng-href" => 'http://dribbble.com/levid', :title => "Dribbble", :target => '_blank'}
          %i.icon-portfolio-dribbble
      %li
        %a.custom-tooltip{:"ng-href" => 'http://www.behance.net/levid', :title => "Behance", :target => '_blank'}
          %i.icon-portfolio-behance
