<footer class='border top'>
  <div class='logo'>
    <a href='#'>
      <img height='50' src='/images/logo-footer.svg' width='50' />
    </a>
  </div>
  <div class='copyright'>
    <h4>&#169; 2013 Levid Media, LLC.</h4>
    <p>Handcrafted in Sunny California</p>
  </div>
  <div class='connect'>
    <h4>Contact</h4>
    <p>
      <!-- %i.icon-portfolio-email -->
      <a href='/#/contact'>isaac@levid.com</a>
    </p>
  </div>
  <div class='made-with'>
    <h4>Made With</h4>
    <p>
      <a href='http://sailsjs.com/' target='_blank'>Sails.js</a>
      <a href='http://angularjs.org/' target='_blank'>Angular.js</a>
      <a href='http://socket.io/' target='_blank'>Socket.io</a>
      <a href='http://www.mongodb.org/' target='_blank'>Mongo DB</a>
      <a href='http://coffeescript.org/' target='_blank'>CoffeeScript</a>
      <a href='http://d3js.org/' target='_blank'>D3.js</a>
    </p>
  </div>
  <div class='social-links'>
    <ul>
      <li>
        <a class='tooltip' href='https://github.com/levid' target='_blank' title='GitHub'>
          <i class='icon-portfolio-github'></i>
        </a>
      </li>
      <li>
        <a class='tooltip' href='http://www.linkedin.com/in/levid' target='_blank' title='LinkedIn'>
          <i class='icon-portfolio-linkedin'></i>
        </a>
      </li>
      <li>
        <a class='tooltip' href='https://twitter.com/iwooten' target='_blank' title='Twitter'>
          <i class='icon-portfolio-twitter'></i>
        </a>
      </li>
      <li>
        <a class='tooltip' href='http://dribbble.com/levid' target='_blank' title='Dribbble'>
          <i class='icon-portfolio-dribbble'></i>
        </a>
      </li>
      <li>
        <a class='tooltip' href='http://www.behance.net/levid' target='_blank' title='Behance'>
          <i class='icon-portfolio-behance'></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
