<footer class='border top'>
  <div class='logo'>
    <a href='#'>
      <img height='50' src='/images/logo-footer.svg' width='50' />
    </a>
  </div>
  <div class='copyright'>
    <h4>&#169; 2013 Levid Media, LLC.</h4>
    <p>Handcrafted in Sunny California</p>
  </div>
  <div class='connect'>
    <h4>Contact</h4>
    <p>
      <!-- %i.icon-portfolio-email -->
      <a href='#'>isaac@levid.com</a>
    </p>
  </div>
  <div class='made-with'>
    <h4>Made With</h4>
    <p>
      <a href='#'>Sails.js</a>
      <a href='#'>Angular.js</a>
      <a href='#'>Socket.io</a>
      <a href='#'>Mongo DB</a>
      <a href='#'>CoffeeScript</a>
      <a href='#'>D3.js</a>
    </p>
  </div>
  <div class='social-links'>
    <ul>
      <li>
        <a class='tooltip' href='https://github.com/levid' target='_blank' title='GitHub'>
          <i class='icon-portfolio-github'></i>
        </a>
      </li>
      <li>
        <a class='tooltip' href='http://www.linkedin.com/in/levid' target='_blank' title='LinkedIn'>
          <i class='icon-portfolio-linkedin'></i>
        </a>
      </li>
      <li>
        <a class='tooltip' href='https://twitter.com/iwooten' target='_blank' title='Twitter'>
          <i class='icon-portfolio-twitter'></i>
        </a>
      </li>
      <li>
        <a class='tooltip' href='http://dribbble.com/levid' target='_blank' title='Dribbble'>
          <i class='icon-portfolio-dribbble'></i>
        </a>
      </li>
      <li>
        <a class='tooltip' href='http://www.behance.net/levid' target='_blank' title='Behance'>
          <i class='icon-portfolio-behance'></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
