%footer.border.top
  .logo
    %a{:href => '#'}
      %img{:src => '/images/logo-footer.svg', :width => '50', :height => '50'}
  .copyright
    %h4 &#169; 2013 Levid Media, LLC.
    %p Handcrafted in Sunny California
  .connect
    %h4 Contact
    %p
      / %i.icon-portfolio-email
      %a{:href => '#'} isaac@levid.com
  .made-with
    %h4 Made With
    %p
      %a{:href => '#'} Sails.js
      %a{:href => '#'} Angular.js
      %a{:href => '#'} Socket.io
      %a{:href => '#'} Mongo DB
      %a{:href => '#'} CoffeeScript
      %a{:href => '#'} D3.js
  .social-links
    %ul
      %li
        %a.tooltip{:href => 'https://github.com/levid', :title => "GitHub", :target => '_blank'}
          %i.icon-portfolio-github
      %li
        %a.tooltip{:href => 'http://www.linkedin.com/in/levid', :title => "LinkedIn", :target => '_blank'}
          %i.icon-portfolio-linkedin
      %li
        %a.tooltip{:href => 'https://twitter.com/iwooten', :title => "Twitter", :target => '_blank'}
          %i.icon-portfolio-twitter
      %li
        %a.tooltip{:href => 'http://dribbble.com/levid', :title => "Dribbble", :target => '_blank'}
          %i.icon-portfolio-dribbble
      %li
        %a.tooltip{:href => 'http://www.behance.net/levid', :title => "Behance", :target => '_blank'}
          %i.icon-portfolio-behance
