.hover-caption
  Design
%nav.sidebar-nav
  %ul.nav
    %li.home
      %a.active{:href => '/#/'}
        .icon
          %i.icon-portfolio-cosmic
        .text
          Home
    %li.design
      %a{:href => '/#/design'}
        .icon
          %i.icon-portfolio-edit
        .text
          Design
      %ul.sub-nav
        %h4 Design Work
        %li
          %a{:href => '#'} Client Name
    %li.identity
      %a{:href => '#'}
        .icon
          %i.icon-portfolio-eye
        .text
          Identity
    %li.code
      %a{:href => '#'}
        .icon
          %i.icon-portfolio-code
        .text
          Code
    %li.web
      %a{:href => '#'}
        .icon
          %i.icon-portfolio-globe
        .text
          Web
    %li.about
      %a{:href => '#'}
        .icon
          %i.icon-portfolio-info-script
        .text
          About
    %li.contact
      %a{:href => '#'}
        .icon
          %i.icon-portfolio-email
        .text
          Contact
    %li.clients
      %a{:href => '#'}
        .icon
          %i.icon-portfolio-heart-2
        .text
          Clients
    %li.cv
      %a{:href => '#'}
        .icon
          %i.icon-portfolio-tropics
        .text
          CV
    .lock
      %a{:href => '#', :data => {:behavior => 'toggle-lock'}}
        .locked
          %i.icon-portfolio-locked
        .unlocked
          %i.icon-portfolio-unlocked