.hover-caption
  Design
%nav.sidebar-nav
  %ul.nav{:"ng-controller" => "NavbarController"}
    %li.home
      %a{:"ng-href" => '#/home', :"ng-class" => "{'active':getClass('/home')}"}
        .icon
          %i.icon-portfolio-cosmic
        .text
          Home
    %li.design
      %a{:"ng-href" => '#/design', :"ng-class" => "{'active':getClass('/design')}"}
        .icon
          %i.icon-portfolio-edit
        .text
          Design
      %ul.sub-nav
        %h4 Design Work
        %li
          %a{:href => '#'} Client Name
    %li.identity
      %a{:"ng-href" => '#/identity', :"ng-class" => "{'active':getClass('/identity')}"}
        .icon
          %i.icon-portfolio-eye
        .text
          Identity
    %li.code
      %a{:"ng-href" => '#/code', :"ng-class" => "{'active':getClass('/code')}"}
        .icon
          %i.icon-portfolio-code
        .text
          Code
    %li.web
      %a{:"ng-href" => '#/web', :"ng-class" => "{'active':getClass('/web')}"}
        .icon
          %i.icon-portfolio-globe
        .text
          Web
    %li.about
      %a{:"ng-href" => '#/about', :"ng-class" => "{'active':getClass('/about')}"}
        .icon
          %i.icon-portfolio-info-script
        .text
          About
    %li.contact
      %a{:"ng-href" => '#/contact', :"ng-class" => "{'active':getClass('/contact')}"}
        .icon
          %i.icon-portfolio-email
        .text
          Contact
    %li.clients
      %a{:"ng-href" => '#/clients', :"ng-class" => "{'active':getClass('/clients')}"}
        .icon
          %i.icon-portfolio-heart-2
        .text
          Clients
    %li.cv
      %a{:"ng-href" => '#/cv', :"ng-class" => "{'active':getClass('/cv')}"}
        .icon
          %i.icon-portfolio-tropics
        .text
          CV
    .lock
      %a{:href => '#', :data => {:behavior => 'toggle-lock'}}
        .locked
          %i.icon-portfolio-locked
        .unlocked
          %i.icon-portfolio-unlocked
  %nav.slide-menu
    %ul
      %li
        %a{:href => '#'}
