<div class='hover-caption'>
  Design
</div>
<nav class='sidebar-nav'>
  <ul class='nav'>
    <li class='home'>
      <a class='active' href='/#/'>
        <div class='icon'>
          <i class='icon-portfolio-cosmic'></i>
        </div>
        <div class='text'>
          Home
        </div>
      </a>
    </li>
    <li class='design'>
      <a href='/#/design'>
        <div class='icon'>
          <i class='icon-portfolio-edit'></i>
        </div>
        <div class='text'>
          Design
        </div>
      </a>
      <ul class='sub-nav'>
        <h4>Design Work</h4>
        <li>
          <a href='#'>Client Name</a>
        </li>
      </ul>
    </li>
    <li class='identity'>
      <a href='#'>
        <div class='icon'>
          <i class='icon-portfolio-eye'></i>
        </div>
        <div class='text'>
          Identity
        </div>
      </a>
    </li>
    <li class='code'>
      <a href='#'>
        <div class='icon'>
          <i class='icon-portfolio-code'></i>
        </div>
        <div class='text'>
          Code
        </div>
      </a>
    </li>
    <li class='web'>
      <a href='#'>
        <div class='icon'>
          <i class='icon-portfolio-globe'></i>
        </div>
        <div class='text'>
          Web
        </div>
      </a>
    </li>
    <li class='about'>
      <a href='#'>
        <div class='icon'>
          <i class='icon-portfolio-info-script'></i>
        </div>
        <div class='text'>
          About
        </div>
      </a>
    </li>
    <li class='contact'>
      <a href='#'>
        <div class='icon'>
          <i class='icon-portfolio-email'></i>
        </div>
        <div class='text'>
          Contact
        </div>
      </a>
    </li>
    <li class='clients'>
      <a href='#'>
        <div class='icon'>
          <i class='icon-portfolio-heart-2'></i>
        </div>
        <div class='text'>
          Clients
        </div>
      </a>
    </li>
    <li class='cv'>
      <a href='#'>
        <div class='icon'>
          <i class='icon-portfolio-tropics'></i>
        </div>
        <div class='text'>
          CV
        </div>
      </a>
    </li>
    <div class='lock'>
      <a data-behavior='toggle-lock' href='#'>
        <div class='locked'>
          <i class='icon-portfolio-locked'></i>
        </div>
        <div class='unlocked'>
          <i class='icon-portfolio-unlocked'></i>
        </div>
      </a>
    </div>
  </ul>
</nav>
