<div class='hover-caption' data-object='hover-caption'></div>
<nav class='sidebar-nav' ng-controller='NavbarController'>
<div class='content-menu'>
<h4>All Projects</h4>
<ul data-behavior='scrollable'>
<li data-ng-repeat='project in projectsNavMenu | orderBy:predicate' ng-class="{'active':getSlug(project.slug)}">
<a class='tooltips' data-ng-href='/#/work/all/project/{{project.slug}}'>{{project.name}}</a>
</li>
<!-- %li{:"data-ng-repeat" => "project in projectsNavMenu", :"ng-class" => "{'active':getSlug(project.slug)}"} -->
<!-- %a.tooltips{:"data-ng-href" => "/#/work/all/project/{{project.slug}}", :"data-toggle" => "tooltip", :title => "{{project.date | date:'yyyy'}}"} {{project.name}} -->
</ul>
</div>
<div class='lock'>
<a data-behavior='toggle-lock' ng-href='#'>
<div class='locked'>
<i class='icon-portfolio-locked'></i>
</div>
<div class='unlocked'>
<i class='icon-portfolio-unlocked'></i>
</div>
</a>
</div>
<div class='settings'>
<a data-behavior='toggle-lock' ng-href='#'>
<i class='icon-portfolio-cog-2'></i>
</a>
</div>
<ul class='nav'>
<li class='menu'>
<a data-behavior='toggle-menu' href='#'>
<div class='icon'>
<i class='icon-portfolio-list'></i>
</div>
<div class='text'>
Menu
</div>
</a>
</li>
<li class='home'>
<a ng-class="{'active':getClass('/home')}" ng-href='#/home'>
<div class='icon'>
<i class='icon-portfolio-cosmic'></i>
</div>
<div class='text'>
Home
</div>
</a>
</li>
<li class='design'>
<a ng-class="{'active':getClass('/work/design'), 'highlight':getClass('/work/all')}" ng-href='#/work/design'>
<div class='icon'>
<i class='icon-portfolio-edit'></i>
</div>
<div class='text'>
Design
</div>
</a>
<ul class='sub-nav'>
<h4>Design Work</h4>
<li>
<a ng-href='#'>Client Name</a>
</li>
</ul>
</li>
<li class='identity'>
<a ng-class="{'active':getClass('/work/identity'), 'highlight':getClass('/work/all')}" ng-href='#/work/identity'>
<div class='icon'>
<i class='icon-portfolio-eye'></i>
</div>
<div class='text'>
Identity
</div>
</a>
</li>
<li class='code'>
<a ng-class="{'active':getClass('/work/code'), 'highlight':getClass('/work/all')}" ng-href='#/work/code'>
<div class='icon'>
<i class='icon-portfolio-code'></i>
</div>
<div class='text'>
Code
</div>
</a>
</li>
<li class='web'>
<a ng-class="{'active':getClass('/work/web'), 'highlight':getClass('/work/all')}" ng-href='#/work/web'>
<div class='icon'>
<i class='icon-portfolio-globe'></i>
</div>
<div class='text'>
Web
</div>
</a>
</li>
<li class='all'>
<a ng-class="{'active':getClass('/work/all')}" ng-href='#/work/all'>
<div class='icon'>
<i class='icon-portfolio-stack'></i>
</div>
<div class='text'>
Everything
</div>
</a>
</li>
<li class='about'>
<a ng-class="{'active':getClass('/about')}" ng-href='#/about'>
<div class='icon'>
<i class='icon-portfolio-info-script'></i>
</div>
<div class='text'>
About
</div>
</a>
</li>
<li class='contact'>
<a ng-class="{'active':getClass('/contact')}" ng-href='#/contact'>
<div class='icon'>
<i class='icon-portfolio-email'></i>
</div>
<div class='text'>
Contact
</div>
</a>
</li>
<li class='clients'>
<a ng-class="{'active':getClass('/clients')}" ng-href='#/clients'>
<div class='icon'>
<i class='icon-portfolio-heart-2'></i>
</div>
<div class='text'>
Clients
</div>
</a>
</li>
<li class='cv'>
<a ng-class="{'active':getClass('/cv')}" ng-href='#/cv'>
<div class='icon'>
<i class='icon-portfolio-tropics'></i>
</div>
<div class='text'>
CV
</div>
</a>
</li>
<li class='top'>
<a data-behavior='scroll-top' href='#'>
<div class='icon'>
<i class='icon-portfolio-arrow-up'></i>
</div>
<div class='text'>
Top
</div>
</a>
</li>
</ul>
<nav class='slide-menu'>
<ul>
<li>
<a ng-href='#'></a>
</li>
</ul>
</nav>
</nav>
