.hover-caption{:data => {:object => 'hover-caption'}}
%nav.sidebar-nav{:"ng-controller" => "NavbarController"}
  .content-menu
    %h4 All Projects
    %ul.scrollable{:data => {:behavior => 'scrollable'}}
      %li{:"data-ng-repeat" => "project in projectsNavMenu | orderBy:predicate", :"ng-class" => "{'active':getSlug(project.slug)}"}
        %a.tooltips{:"data-ng-href" => "/#/work/all/project/{{project.slug}}", :rel => "{{project.id}}"} {{project.name}}
      / %li{:"data-ng-repeat" => "project in projectsNavMenu", :"ng-class" => "{'active':getSlug(project.slug)}"}
      /   %a.tooltips{:"data-ng-href" => "/#/work/all/project/{{project.slug}}", :"data-toggle" => "tooltip", :title => "{{project.date | date:'yyyy'}}"} {{project.name}}

  .lock
    %a{:"ng-href" => '#', :data => {:behavior => 'toggle-lock'}}
      .locked
        %i.icon-portfolio-locked
      .unlocked
        %i.icon-portfolio-unlocked
  .settings.dropdown.dropup
    %a.dropdown-toggle{:"ng-href" => '#', :"data-toggle" => "dropdown"}
      %i.icon-portfolio-cog-2

    %ul.dropdown-menu
      %li
        %a{:href => "#"}
          Disable Sounds
      %li
        %a{:href => "#"}
          Disable Notifications
      %li
        %a{:href => "#"}
          Disable Shuffle Letters
      %li
        %a{:href => "#"}
          Cancel

  %ul.nav
    %li.menu
      %a{:href => '#', :data => {:behavior => 'toggle-menu'}}
        .icon
          %i.icon-portfolio-list
        .text
          Menu
    %li.home
      %a{:"ng-href" => '#/home', :"ng-class" => "{'active':getClass('/home')}"}
        .icon
          %i.icon-portfolio-cosmic
        .text
          Home
    %li.design
      %a{:"ng-href" => '#/work/design', :"ng-class" => "{'active':getClass('/work/design'), 'highlight':getClass('/work/all')}"}
        .icon
          %i.icon-portfolio-edit
        .text
          Design
      %ul.sub-nav
        %h4 Design Work
        %li
          %a{:"ng-href" => '#'} Client Name
    %li.identity
      %a{:"ng-href" => '#/work/identity', :"ng-class" => "{'active':getClass('/work/identity'), 'highlight':getClass('/work/all')}"}
        .icon
          %i.icon-portfolio-eye
        .text
          Identity
    %li.code
      %a{:"ng-href" => '#/work/code', :"ng-class" => "{'active':getClass('/work/code'), 'highlight':getClass('/work/all')}"}
        .icon
          %i.icon-portfolio-code
        .text
          Code
    %li.web
      %a{:"ng-href" => '#/work/web', :"ng-class" => "{'active':getClass('/work/web'), 'highlight':getClass('/work/all')}"}
        .icon
          %i.icon-portfolio-globe
        .text
          Web
    %li.all
      %a{:"ng-href" => '#/work/all', :"ng-class" => "{'active':getClass('/work/all')}"}
        .icon
          %i.icon-portfolio-stack
        .text
          Everything
    %li.about
      %a{:"ng-href" => '#/about', :"ng-class" => "{'active':getClass('/about')}"}
        .icon
          %i.icon-portfolio-accessibility
        .text
          About
    %li.contact
      %a{:"ng-href" => '#/contact', :"ng-class" => "{'active':getClass('/contact')}"}
        .icon
          %i.icon-portfolio-email
        .text
          Contact
    %li.clients
      %a{:"ng-href" => '#/clients', :"ng-class" => "{'active':getClass('/clients')}"}
        .icon
          %i.icon-portfolio-heart-2
        .text
          Clients
    %li.cv
      %a{:"ng-href" => '#/cv', :"ng-class" => "{'active':getClass('/cv')}"}
        .icon
          %i.icon-portfolio-info-script
        .text
          CV
    %li.cv
      %a{:"ng-href" => '#/themes', :"ng-class" => "{'active':getClass('/themes')}"}
        .icon
          %i.icon-portfolio-tropics
        .text
          Themes
    %li.top
      %a{:href => '#', :data => {:behavior => 'scroll-top'}}
        .icon
          %i.icon-portfolio-arrow-up
        .text
          Top
  %nav.slide-menu
    %ul
      %li
        %a{:"ng-href" => '#'}