<div class='theme-container' ng-controller='ThemesController'>
<a class='toggle-theme' data-behavior='toggle-theme' href='#'>
<div class='text'>
<i class='icon-portfolio-shuffle'></i>
</div>
<div class='loading'>
<div class='theme-spinner'></div>
</div>
<div class='box'>
<ul>
<li ng-class="{'default':theme.is_default == true}" ng-init="path = s3_path + '/image/themes/' + theme.id" ng-repeat='theme in themes'>
<img data-background='{{path}}/{{theme.background_image_filename}}' data-position='{{theme.position}}' height='84' ng-src='{{path}}/{{theme.thumbnail_image}}' width='150'>
</li>
</ul>
</div>
<!-- .hexagon.hexagon -->
<!-- .hexagon-in1 -->
<!-- .hexagon-in2 -->
<!-- %ul -->
<!-- %li.active -->
<!-- %img{:src => 'images/themes/ocean-rocks-thumb.jpg', :"data-background" => 'images/themes/ocean-rocks.jpg', :"data-position" => 'bottom left'} -->
<div class='title'>Swap Theme</div>
</a>
</div>
