.theme-container{:"ng-controller" => "ThemesController"}
  %a.theme-tooltip{:href => '#', :data => {:behavior => 'toggle-theme'}}
    .text
      %i.icon-portfolio-shuffle
    .loading
      .spinner
    .box
      %ul
        %li.active{:"ng-repeat" => "theme in themes", :"ng-class" => "{'default':theme.is_default == true}", :"ng-init" => "path = s3_path + '/image/themes/' + theme.id"}
          %img{:"ng-src" => "{{path}}/{{theme.thumbnail_image}}", :"data-background" => "{{path}}/{{theme.background_image_filename}}", :"data-position" => "{{theme.position}}"}

    / .hexagon.hexagon
    /   .hexagon-in1
    /     .hexagon-in2
    /       %ul
    /         %li.active
    /           %img{:src => 'images/themes/ocean-rocks-thumb.jpg', :"data-background" => 'images/themes/ocean-rocks.jpg', :"data-position" => 'bottom left'}

    .title Swap Theme