main#main {
  section.content {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    display: table-cell;
    vertical-align: top;
    position: relative;
    left: 0px;
    // background-color: rgba(0,0,0, 0.5);

    .lens-flare {
      position: absolute;
      top: 0px;
      left: 10px;
      display: none;
      z-index: 0;
    }

    .innerContent {
      padding: 0px 0px 0px 0px;
      width: 100%;
      height: auto !important;
      min-height: 100%;
      vertical-align: top;
      margin: 0px;
      display: inline-block;
      position: relative;
      // @include transition(all 300ms linear);
    }

    .user-header {
      .logo {
        display: inline-block;
        position: relative;
        z-index: 4;

        a {

        }
      }

      .divider {
        margin: 11px 10px 0px 11px;
        width: 1px;
        height: 20px;
        display: inline-block;
        border-left: 1px solid rgba(255,255,255, 0.5);
      }

      .name {
        margin: 12px 0px 0px 15px;
        font-size: 0.9em;
        font-family: ProximaNovaBold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
        display: inline-block;
        text-shadow: 1px 1px 2px rgba(0,0,0, 0.5);
      }

      .position {
        margin: 13px 0px 0px 0px;
        font-size: 0.9em;
        font-family: ProximaNovaRegular, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
        font-weight: 300;
        display: inline-block;
        text-shadow: 1px 1px 2px rgba(0,0,0, 0.5);

        .ampersand {
          margin: 0px 3px 0px 3px;
          font-size: 1.3em;
        }
      }
    }
  }

  &.sub {
    background-color: rgba(0,0,0, 0.4) !important;
  }

  section.sub {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: 100;
    min-height: 100%;
    display: block;
    vertical-align: top;

    .project-info-overlay {
      position: fixed;
      width: 300px;
      bottom: 150px;
      right: 50px;
      display: block;
      background-color: rgba(0,0,0, 0.8);
      z-index: 800;
      display: none;

      p {
        width: 100%;
        padding: 12px;
        margin: 0px;
        color: #ffffff;
        font-family: ProximaNovaRegular, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
        font-size: 0.9em;
        text-transform: uppercase;
        display: inline-block;
      }
    }

    .info-container {
      width: 100%;
      height: auto;
      background-color: rgba(0,0,0, 0.5);
      display: inline-block;
      position: relative;

      &.tall {
        min-height: 110px;

        .content {
          padding: 34px 50px 34px 69px;

          .buttons {
            top: 33px;
            left: 20px;
          }
        }
      }

      .spinner {
        margin: 0px;
        width: 40px;
        height: 40px;
        display: inline-block;
        position: relative;

        .text {
          margin: 14px auto;
          width: 40px;
          height: auto;
          color: #ffffff;
          position: relative;
          display: inline-block;
          font-family: ProximaNovaRegular, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
          font-size: 10px;
          text-align: center;
        }
      }

      .content {
        width: 100%;
        padding: 20px 50px 20px 99px;
        color: #ffffff;
        font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
        display: block;

        h3 {
          width: auto;
          margin: 0px;
          padding: 0px;
          text-transform: uppercase;
          font-size: 2em;
          display: inline-block;
          white-space:nowrap;
        }

        .sort-by {
          margin: 12px 0px 0px 20px;
          width: auto;
          display: inline-block;
          text-transform: uppercase;
          font-size: 0.9em;
          font-family: ProximaNovaRegular, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
          position: relative;

          .title {
            margin-right: 10px;
            width: auto;
            display: inline-block;
          }

          a + a {
            margin-left: 2px;
          }

          a {
            padding: 10px;
            color: rgba(255,255,255, 0.5);
            // background-color: rgba(0,0,0, 0.3);

            &.active {
              color: lighten(#93ccd9, 10%);
             background-color: rgba(0,0,0, 0.5);
            }

            &:hover {
              color: #ffffff;
            }
          }
        }

        .buttons {
          display: inline-block;
          position: absolute;
          top: 25px;
          left: 50px;

          .btn.btn-back {
            margin: 0px;
            width: 40px;
            height: 40px;
            font-family: ProximaNovaRegular, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
            font-size: 1.2em;
            position: relative;
            display: inline-block;
            color: #b1b2b2;
            // border-bottom: 1px solid transparent;
            // background-color: rgba(0,0,0, 0.2);
            text-align: center;
            @include border-radius(50%);

            &:hover {
              color: #ffffff;
              // background-color: rgba(0,0,0, 0.5);
              // border-bottom: 1px solid #ff6e42;
            }

            i {
              position: relative;
              top: 9px;
            }
          }
        }

        .block {
          margin: 15px 0px 0px 0px;
          font-family: ProximaNovaRegular, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
          font-size: 1em;
          // display: inline-block;

          ul.project-info {
            width: 90%;
            margin: 0px 0px 0px 0px;
            padding: 0px;
            list-style: none;

            li {
              height: auto;
              margin: 0px 0px 0px 0px;
              padding: 0px 5px 0px 0px;
              font-size: 0.9em;
              color: #d1d1d1;
              text-transform: uppercase;
              display: inline-block;

              &:before {
                content: attr(data-content);
                color: #ffffff;
                font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
                top: -1px;
                position: relative;
                display: inline-block;
                text-transform: uppercase;
              }

              h4 {
                margin: 0px;
                padding: 0px;
              }

              a {
                margin: 0px;
                padding: 0px;
                height: auto;
                float: none;
                display: inline;
              }
            }
          }


          table {
            width: auto;
            margin: 0px;
            padding: 0px;
            list-style: none;
            display: inline-block;

            // td {
            //   padding: 5px 0px 5px 0px;
            // }

            td {
              text-transform: uppercase;
              font-size: 0.9em;
              // line-height: 2em;

              &:first-child {
                // text-align: right;
                width: 20%;
                min-width: 120px;
                color: #ffffff;
                font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
              }

              &:nth-child(2) {
                padding-left: 10px;
                width: 80%;
                color: #d1d1d1;
                border-left: 2px solid rgba(255,255,255, 0.15);
              }

              a {
                margin: 0px;
                padding: 0px;
                height: auto;
                color: #d1d1d1;
                border-bottom: 1px solid transparent;

                &:hover {
                  color: #ffffff;
                  border-bottom: 1px solid #ff6e42;
                }
              }
            }
          }

          a + a {
            // margin-left: 5px;
          }

          a {
            margin: 10px 0px 0px 0px;
            width: auto;
            height: 38px;
            display: inline-block;
            text-transform: uppercase;
            font-size: 0.9em;
            float: left;
          }
        }
      }
    }

    .innerContent {

      .user-header {
        width: 100%;
        padding: 40px 0px 40px 40px;
        color: #ffffff;
        text-transform: uppercase;
        display: inline-block;
        // background-color: #123;
      }

      .thumbnails-show-view {
        margin: 0px auto;
        width: 100%;
        height: 100%;
        padding: 0px;
        z-index: 1;
        display: block;
        position: relative;
        background-color: rgba(0,0,0, 0.7);
        left: 0px;

        .thumb-full-width{
          max-width: 95%;
          margin: 0px auto;
          text-align: center;

          &:first-child {
            margin-top: 0px;
          }

          &:last-child {
            margin: 0px 0px 30px 0px;
          }

          .block {
            margin-top: 30px;
            width: auto;
            display: inline-block;
            // @include border-radius(10px);
            // overflow: hidden;
            // border: 3px solid rgba(0,0,0,0.2);

            img {
              max-width: 100%;
            }
          }

          .info {
            color: #ffffff;
            padding: 20px;
            background-color: #000000;
            font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
            text-transform: uppercase;
          }
        }
      }

      #fixed {
        height: 400px;
        overflow: auto;
      }

      .thumbnails {
        margin: 0px;
        width: 100%;
        height: 100%;
        min-height: 100%;
        z-index: 1;
        display: block;
        position: relative;
        background-color: rgba(0,0,0, 0.5);
        // @include transition(all 300ms linear);

        .thumb {
          position: relative;
          float: left;
          width: 50%;
          height: auto;
          top: 0;
          z-index: 1;
          margin: 0;
          -webkit-backface-visibility: hidden;

          &:hover, .hover {
            -webkit-transform: scale(1.01);
            -moz-transform: scale(1.01);
            -ms-transform: scale(1.01);
            -o-transform: scale(1.01);
            transform: scale(1.01);

            @include transition(all 200ms ease-in-out);
            @include box-shadow(0 0 20px 0 rgba(0, 0, 0, 0.5));
            position: relative;
            z-index: 100;
          }

          img {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            z-index: 2;
            margin: 0;
            border: 1px solid transparent;
            // @include transition(all .2s ease-in-out);

            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
            -webkit-filter: grayscale(0%);
          }

          .image {
            width: auto;
            height: auto;
            // overflow: hidden;
            @include transition(all 300ms ease-in-out);
            // background-color: #000000;

            &:hover {
              cursor: pointer;

              .project-details-container {
                opacity: 1 !important;
              }

              .block {
                .project-details-container {
                  opacity: 1 !important;
                }
              }

              img {
                // @include opacity(70);
                // filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
                // filter: gray; /* IE6-9 */
                // -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
              }
            }

            img {
              &.grey {
                @include transition(all 500ms linear);
                filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
                filter: gray; /* IE6-9 */
                -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
              }
            }

            .project-details-container {
              width: 100%;
              height: 100%;
              position: absolute;
              margin: 0px auto;
              z-index: 5;
              text-align: left;
              background-color: rgba(0,0,0,0.7);
              @include opacity(0);
              @include transition(all .2s ease-in-out);

              .content {
                padding: 50px;
                color: #ffffff;
                font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
                display: block;

                h3 {
                  width: 100%;
                  margin: 0px auto;
                  padding: 0px;
                  text-transform: uppercase;
                  font-size: 2em;

                  &.name {
                    margin: -40px auto;
                    top: 50%;
                    left: 0px;
                    position: absolute;
                    text-align: center;
                  }
                }

                .block {
                  margin: 0px auto;
                  font-family: ProximaNovaRegular, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
                  font-size: 1em;

                  p {
                    max-width: 400px;
                  }

                  table {
                    margin: 0px;
                    padding: 0px;
                    list-style: none;
                    display: block;

                    td {
                      padding: 5px 0px 5px 0px;
                    }

                    td {
                      text-transform: uppercase;
                      font-size: 0.9em;
                      // line-height: 2em;

                      &:first-child {
                        // text-align: right;
                        width: 20%;
                        min-width: 100px;
                        color: #ffffff;
                        font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
                      }

                      &:nth-child(2) {
                        padding-left: 10px;
                        width: 80%;
                        color: #d1d1d1;
                      }

                      a {
                        margin: 0px;
                        padding: 0px;
                        height: auto;
                        color: #d1d1d1;
                        border-bottom: 1px solid transparent;

                        &:hover {
                          color: #ffffff;
                          border-bottom: 1px solid #ff6e42;
                        }
                      }
                    }
                  }

                  a + a {
                    margin-left: 5px;
                  }

                  a {
                    padding: 10px;
                    margin: 10px auto;
                    width: auto;
                    height: 38px;
                    display: inline-block;
                    text-transform: uppercase;
                    font-size: 0.9em;
                    @include transition(all 300ms ease-in-out);
                    overflow: hidden;
                    @include border-radius(50px);
                    position: relative;

                    i {
                      position: relative;
                      left: 2px;
                      font-size: 1.1em;
                    }

                    .text {
                      width: 0px;
                      display: inline-block;
                      @include transition(all 300ms ease-in-out);
                      @include opacity(0);
                      white-space: nowrap;

                    }

                    &:hover {
                      @include border-radius(0px);
                      .text {
                        width: 100px;
                        display: inline-block;
                        @include opacity(100);

                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}