section.about, section.clients, section.contact, section.themes {
  font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;

  .img {
    padding: 0px 20px 10px 0px;
    width: auto;
    display: inline-block;
    vertical-align: top;

    .img-circle {
      z-index: 50;
      @include border-radius(50%);
      display: inline-block;
    }
  }

  .text {
    width: 93%;
    display: inline-block;
    vertical-align: top;
  }

  .info-container {
    padding: 30px 0px 30px 0px;
    background-color: rgba(0,0,0, 0.8);

    .content {
      p {
        max-width: 90%;
        font-family: ProximaNovaLight, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;

        &.large {
          margin: 20px 0px 10px 0px;
          font-size: 2em;
        }

        &.small {
          line-height: 1.7em;
          max-width: 800px;
          font-size: 1.1em;
          color: lighten(#b1b2b2, 10%);
        }

      }

    }
  }

  .divider {
    margin: 5px 0px 5px 0px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
    position: relative;
  }

  .skills-container {
    margin: 0px 0px 0px 0px;
  }

  .skills + .skills {
    margin: 0px 0px 0px 50px;
  }

  .skills {
    display: inline-block;
  }

  .toolbox-header {
    // color: #363636;
    font-family: ProximaNovaRegular, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: -5px;
  }

  .toolbox-item {
    margin: 10px 0px 0px 0px;
    height: 20px;
  }

  #experience {
    font-family: ProximaNovaRegular, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
    font-weight: 500;

    a + a {
      margin-left: 10px;
    }

    a {
      &.active {
        color: #ffffff;
      }
    }
  }

  a {
    color: lighten(#b1b2b2, 10%);
    @include transition(all .2s linear);
    border-bottom: 1px solid transparent;

    &:hover {
      color: #ffffff;
      border-bottom: 1px solid #ff6e42;
    }
  }

  #piechart {
    margin: 30px 0px 0px -30px;
    height: auto;
    position: relative;
    width: 250px;
    display: inline-block;

    .pie {
      display: inline-block;
    }
  }

  table {
    margin: 0px;
    padding: 0px;

    th {
      margin: 0px;
      padding: 0px 0px 10px 0px;
      text-align: left;
      text-transform: uppercase;
      font-size: 0.8em;
    }

    td {
      min-width: 150px;
      padding: 10px 10px 10px 0px;
    }

    tr {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    a {
      text-indent: -.3em;

      &:before {
        // content: "\002022";
        content: "\2023 \0020";
        color: #93ccd9;
        font-size: 1.1em;
        top: -2px;
        left: 0px;
        position: relative;
        display: inline-block;
      }
    }
  }

  .success {
    padding: 10px 0px 10px 0px;
    color: #93ccd9;
  }

  .list-container {
    margin: 0px 0px 20px 0px;

    .list {
      margin-right: 60px;
      min-width: 270px;
      display: inline-block;
      font-family: ProximaNovaLight, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;

      .required {
        padding: 10px 0px 0px 0px;
      }

      .spinner {
        width: 30px;
        height: 30px;
      }

      &.clients {
        width: 90%;

        ul {
          width: 90%;

          // -moz-column-count: 4;
          // -webkit-column-count: 4;
          // column-count: 4;

          // -moz-column-gap: 0;
          // -webkit-column-gap: 0;
          // column-gap: 0;

          li {
            display: block;
            border-bottom: 1px solid rgba(255, 255, 255, 0.15);
          }
        }
      }

      h4 {
        font-size: 1.3em;
      }

      a {
        color: lighten(#b1b2b2, 10%);
        @include transition(all .2s linear);
        border-bottom: 1px solid transparent;

        &:hover {
          color: #ffffff;
          border-bottom: 1px solid #ff6e42;
        }
      }

      ul {
        width: 300px;
        margin: 0px 0px 0px 20px;
        padding: 0px;
        list-style: none;

        li + li {
          margin-top: 10px;
        }

        li {
          margin: 0px 0px 0px 0px;
          text-indent: -.3em;
          padding: 0px 5px 0px 0px;
          font-size: 1em;
          color: lighten(#b1b2b2, 10%);

          &:before {
            content: "\2023 \0020";
            color: #93ccd9;
            font-size: 1.1em;
            top: -3px;
            left: -10px;
            position: relative;
            display: inline-block;
          }
        }
      }
    }
  }
}