main#main {
  &.sub {
    background-color: rgba(0,0,0, 0.4) !important;
  }

  section.content {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    display: table-cell;
    vertical-align: top;
    position: relative;
    left: 0px;
    // background-color: rgba(0,0,0, 0.5);

    .lens-flare {
      position: absolute;
      top: 0px;
      left: 10px;
      display: none;
      z-index: 0;
    }

    .innerContent {
      padding: 0px 0px 0px 0px;
      width: 100%;
      height: auto !important;
      min-height: 100%;
      vertical-align: top;
      margin: 0px;
      display: inline-block;
      position: relative;
      // @include transition(all 300ms linear);
    }

    .user-header {
      .logo {
        display: inline-block;
        position: relative;
        z-index: 4;

        a {

        }
      }

      .divider {
        margin: 11px 10px 0px 11px;
        width: 1px;
        height: 20px;
        display: inline-block;
        border-left: 1px solid rgba(255,255,255, 0.5);
      }

      .name {
        margin: 12px 0px 0px 15px;
        font-size: 0.9em;
        font-family: ProximaNovaBold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
        display: inline-block;
        text-shadow: 1px 1px 2px rgba(0,0,0, 0.5);
      }

      .position {
        margin: 13px 0px 0px 0px;
        font-size: 0.9em;
        font-family: ProximaNovaRegular, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
        font-weight: 300;
        display: inline-block;
        text-shadow: 1px 1px 2px rgba(0,0,0, 0.5);

        .ampersand {
          margin: 0px 3px 0px 3px;
          font-size: 1.3em;
        }
      }
    }
  }

  section.home {
    padding: 0px;

    .innerContent {
      color: #ffffff;
      text-transform: uppercase;
      margin: 56px 0px 56px 56px;

      a {
        color: #ffffff;
      }

      ul.nav {
        width: auto;
        margin: 30px 0 0 0;
        padding: 0px;
        list-style: none;
        display: inline-block;

        li {
          width: auto;
          display: block;

          &.large {
            min-width: 392px;
            width: auto;
            height: 75px;
            margin: 0px;
            padding: 0px;
            display: block;
            cursor: pointer;
            position: relative;
            z-index: 1;

            a {
              width: auto;
              font-size: 5em;
              font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
              font-style: italic;
              display: block;
              line-height: 0.9em;
              text-shadow: 2px 2px 2px rgba(0,0,0, 0.3);
              position: relative;
              z-index: 1;
            }

            .shuffle {
              margin: -72px 0px 0px 0px;
              width: auto;
              font-size: 5em;
              font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
              font-style: italic;
              display: block;
              line-height: 0.9em;
              text-shadow: 2px 2px 2px rgba(0,0,0, 0.3);
              @include transition(all .2s ease-in-out);
            }
          }

          &.spacer {
            margin: 30px 0px 0px 0px;
          }

          &.filter-by {
            margin: 20px 0px 30px 0px;
            padding: 0px;
            width: auto;
            height: auto;
            display: inline-block;
            position: relative;
            z-index: 5;

            a {
              width: auto;
              height: auto;
              display: inline-block;
              position: relative;
              left: -10px;
              @include transition(all .1s ease-in-out);

              &:hover {
                @include transform-scale(scale(.9));
              }

              .hex {
                overflow: hidden;
                visibility: hidden;
                @include transform-rotate(30deg);
                cursor: pointer;
              }
              .hex-in1 {
                overflow: hidden;
                width: 100%;
                height: 100%;
                @include transform-rotate(-60deg);
              }
              .hex-in2 {
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: 50%;
                background-color: rgba(0,0,0,0.7);
                visibility: visible;
                @include transform-rotate(-60deg);
                @include transition(all .1s ease-in-out);
              }
              .hex-in2:hover {
                @include opacity(70);
                color: #ccc;
              }

              .hex {
                margin: 0px 0px 0px 0px;
                width: 124px;
                height: 80px;
                position: relative;
                z-index: 0;
                @include box-shadow(inset 0px 0px 10px 0px #ffffff);
              }

              .all {
                width: auto;
                height: auto;
                font-size: 1.5em;
                font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
                position: relative;
                font-weight: 300;
                margin: 0px 0px 0px 0px;
                z-index: 2;
                display: inline-block;
                top: 25px;
                left: 45px;
                @include transform-rotate(90deg);
              }
            }
          }

          &.small {
            margin: 0px;
            padding: 0px;
            width: auto;
            height: 33px;
            display: block;
            cursor: pointer;
            position: relative;
            z-index: 1;

            a {
              width: auto;
              font-size: 2em;
              font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
              font-style: italic;
              display: block;
              line-height: 1em;
              text-shadow: 2px 2px 2px rgba(0,0,0, 0.3);
              position: relative;
              z-index: 1;
            }

            .shuffle {
              margin: -27px 0px 0px 0px;
              width: auto;
              font-size: 2em;
              font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
              font-style: italic;
              display: block;
              line-height: 1em;
              text-shadow: 2px 2px 2px rgba(0,0,0, 0.3);
              @include transition(all .2s ease-in-out);
            }
          }
        }
      }
    }
  }

  section.sub {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: 100;
    min-height: 100%;
    display: block;
    vertical-align: top;

    .project-info-overlay {
      position: fixed;
      width: 300px;
      bottom: 150px;
      right: 50px;
      display: block;
      background-color: rgba(0,0,0, 0.8);
      z-index: 800;
      display: none;

      p {
        width: 100%;
        padding: 12px;
        margin: 0px;
        color: #ffffff;
        font-family: ProximaNovaRegular, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
        font-size: 0.9em;
        text-transform: uppercase;
        display: inline-block;
      }
    }

    .info-container {
      width: 100%;
      height: auto;
      background-color: rgba(0,0,0, 0.5);
      display: inline-block;
      position: relative;

      &.tall {
        min-height: 110px;

        .content {
          padding: 34px 50px 34px 69px;

          .buttons {
            top: 33px;
            left: 20px;
          }
        }
      }

      .spinner {
        margin: 0px;
        width: 40px;
        height: 40px;
        display: inline-block;
        position: relative;

        .text {
          margin: 14px auto;
          width: 40px;
          height: auto;
          color: #ffffff;
          position: relative;
          display: inline-block;
          font-family: ProximaNovaRegular, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
          font-size: 10px;
          text-align: center;
        }
      }

      .content {
        width: 100%;
        padding: 20px 50px 20px 99px;
        color: #ffffff;
        font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
        display: block;

        h3 {
          width: auto;
          margin: 0px;
          padding: 0px;
          text-transform: uppercase;
          font-size: 2em;
          display: inline-block;
          white-space:nowrap;
        }

        .sort-by {
          margin: 12px 0px 0px 20px;
          width: auto;
          display: inline-block;
          text-transform: uppercase;
          font-size: 0.9em;
          font-family: ProximaNovaRegular, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
          position: relative;

          .title {
            margin-right: 10px;
            width: auto;
            display: inline-block;
          }

          a + a {
            margin-left: 2px;
          }

          a {
            padding: 10px;
            color: rgba(255,255,255, 0.5);
            // background-color: rgba(0,0,0, 0.3);

            &.active {
              color: lighten(#93ccd9, 10%);
             background-color: rgba(0,0,0, 0.5);
            }

            &:hover {
              color: #ffffff;
            }
          }
        }

        .buttons {
          display: inline-block;
          position: absolute;
          top: 25px;
          left: 50px;

          .btn.btn-back {
            margin: 0px;
            width: 40px;
            height: 40px;
            font-family: ProximaNovaRegular, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
            font-size: 1.2em;
            position: relative;
            display: inline-block;
            color: #b1b2b2;
            // border-bottom: 1px solid transparent;
            // background-color: rgba(0,0,0, 0.2);
            text-align: center;
            @include border-radius(50%);

            &:hover {
              color: #ffffff;
              // background-color: rgba(0,0,0, 0.5);
              // border-bottom: 1px solid #ff6e42;
            }

            i {
              position: relative;
              top: 9px;
            }
          }
        }

        .block {
          margin: 15px 0px 0px 0px;
          font-family: ProximaNovaRegular, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
          font-size: 1em;
          // display: inline-block;

          ul.project-info {
            width: 90%;
            margin: 0px 0px 0px 0px;
            padding: 0px;
            list-style: none;

            li {
              height: auto;
              margin: 0px 0px 0px 0px;
              padding: 0px 5px 0px 0px;
              font-size: 0.9em;
              color: #d1d1d1;
              text-transform: uppercase;
              display: inline-block;

              &:before {
                content: attr(data-content);
                color: #ffffff;
                font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
                top: -1px;
                position: relative;
                display: inline-block;
                text-transform: uppercase;
              }

              h4 {
                margin: 0px;
                padding: 0px;
              }

              a {
                margin: 0px;
                padding: 0px;
                height: auto;
                float: none;
                display: inline;
              }
            }
          }


          table {
            width: auto;
            margin: 0px;
            padding: 0px;
            list-style: none;
            display: inline-block;

            // td {
            //   padding: 5px 0px 5px 0px;
            // }

            td {
              text-transform: uppercase;
              font-size: 0.9em;
              // line-height: 2em;

              &:first-child {
                // text-align: right;
                width: 20%;
                min-width: 120px;
                color: #ffffff;
                font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
              }

              &:nth-child(2) {
                padding-left: 10px;
                width: 80%;
                color: #d1d1d1;
                border-left: 2px solid rgba(255,255,255, 0.15);
              }

              a {
                margin: 0px;
                padding: 0px;
                height: auto;
                color: #d1d1d1;
                border-bottom: 1px solid transparent;

                &:hover {
                  color: #ffffff;
                  border-bottom: 1px solid #ff6e42;
                }
              }
            }
          }

          a + a {
            // margin-left: 5px;
          }

          a {
            margin: 10px 0px 0px 0px;
            width: auto;
            height: 38px;
            display: inline-block;
            text-transform: uppercase;
            font-size: 0.9em;
            float: left;
          }
        }
      }
    }

    .innerContent {

      .user-header {
        width: 100%;
        padding: 40px 0px 40px 40px;
        color: #ffffff;
        text-transform: uppercase;
        display: inline-block;
        // background-color: #123;
      }

      .thumbnails-show-view {
        margin: 0px auto;
        width: 100%;
        height: 100%;
        padding: 0px;
        z-index: 1;
        display: block;
        position: relative;
        background-color: rgba(0,0,0, 0.7);
        left: 0px;

        .thumb-full-width{
          max-width: 95%;
          margin: 0px auto;
          text-align: center;

          &:first-child {
            margin-top: 0px;
          }

          &:last-child {
            margin: 0px 0px 30px 0px;
          }

          .block {
            margin-top: 30px;
            width: auto;
            display: inline-block;
            // @include border-radius(10px);
            // overflow: hidden;
            // border: 3px solid rgba(0,0,0,0.2);

            img {
              max-width: 100%;
            }
          }

          .info {
            color: #ffffff;
            padding: 20px;
            background-color: #000000;
            font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
            text-transform: uppercase;
          }
        }
      }

      #fixed {
        height: 400px;
        overflow: auto;
      }

      .thumbnails {
        margin: 0px;
        width: 100%;
        height: 100%;
        min-height: 100%;
        z-index: 1;
        display: block;
        position: relative;
        background-color: rgba(0,0,0, 0.5);
        // @include transition(all 300ms linear);

        .thumb {
          position: relative;
          float: left;
          width: 50%;
          height: auto;
          top: 0;
          z-index: 1;
          margin: 0;
          &:hover, .hover {
            -webkit-transform: scale(1.01);
            -moz-transform: scale(1.01);
            -ms-transform: scale(1.01);
            -o-transform: scale(1.01);
            transform: scale(1.01);

            @include transition(all 200ms ease-in-out);
            @include box-shadow(0 0 20px 0 rgba(0, 0, 0, 0.5));
            position: relative;
            z-index: 100;
          }

          img {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            z-index: 2;
            margin: 0;
            border: 1px solid transparent;
            // @include transition(all .2s ease-in-out);

            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
            -webkit-filter: grayscale(0%);
          }

          .image {
            width: auto;
            height: auto;
            // overflow: hidden;
            @include transition(all 300ms ease-in-out);
            // background-color: #000000;

            &:hover {
              cursor: pointer;

              .project-details-container {
                opacity: 1 !important;
              }

              .block {
                .project-details-container {
                  opacity: 1 !important;
                }
              }

              img {
                // @include opacity(70);
                // filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
                // filter: gray; /* IE6-9 */
                // -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
              }
            }

            img {
              &.grey {
                @include transition(all 500ms linear);
                filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
                filter: gray; /* IE6-9 */
                -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
              }
            }

            .project-details-container {
              width: 100%;
              height: 100%;
              position: absolute;
              margin: 0px auto;
              z-index: 5;
              text-align: center;
              background-color: rgba(0,0,0,0.7);
              @include opacity(0);
              @include transition(all .2s ease-in-out);

              .content {
                // padding: 50px;
                color: #ffffff;
                font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
                display: block;

                h3 {
                  width: 100%;
                  margin: -40px auto;
                  padding: 0px;
                  text-transform: uppercase;
                  font-size: 2em;
                  top: 50%;
                  left: 0px;
                  position: absolute;
                  text-align: center;
                }

                .block {
                  margin: 0px auto;
                  font-family: ProximaNovaRegular, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
                  font-size: 1em;
                  display: inline-block;
                  position: absolute;
                  top: 50%;
                  left: 0px;
                  width: 100%;
                  text-align: center;

                  table {
                    margin: 0px;
                    padding: 0px;
                    list-style: none;
                    display: block;

                    td {
                      padding: 5px 0px 5px 0px;
                    }

                    td {
                      text-transform: uppercase;
                      font-size: 0.9em;
                      // line-height: 2em;

                      &:first-child {
                        // text-align: right;
                        width: 20%;
                        min-width: 100px;
                        color: #ffffff;
                        font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
                      }

                      &:nth-child(2) {
                        padding-left: 10px;
                        width: 80%;
                        color: #d1d1d1;
                      }

                      a {
                        margin: 0px;
                        padding: 0px;
                        height: auto;
                        color: #d1d1d1;
                        border-bottom: 1px solid transparent;

                        &:hover {
                          color: #ffffff;
                          border-bottom: 1px solid #ff6e42;
                        }
                      }
                    }
                  }

                  a + a {
                    margin-left: 5px;
                  }

                  a {
                    padding: 10px;
                    margin: 10px auto;
                    width: auto;
                    height: 38px;
                    display: inline-block;
                    text-transform: uppercase;
                    font-size: 0.9em;
                    @include transition(all 300ms ease-in-out);
                    overflow: hidden;
                    @include border-radius(50px);
                    position: relative;

                    i {
                      position: relative;
                      left: 2px;
                      font-size: 1.1em;
                    }

                    .text {
                      width: 0px;
                      display: inline-block;
                      @include transition(all 300ms ease-in-out);
                      @include opacity(0);
                      white-space: nowrap;

                    }

                    &:hover {
                      @include border-radius(0px);
                      .text {
                        width: 100px;
                        display: inline-block;
                        @include opacity(100);

                      }
                    }
                  }
                }
              }
            }
          }


        }
      }
    }

  }

  section.cv {
    font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;

    .info-container {
      padding: 30px 0px 30px 0px;
      background-color: rgba(0,0,0, 0.8);

      .content {
        p {
          // max-width: 800px;
          font-family: ProximaNovaLight, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;

          &.large {
            margin: 20px 0px 10px 0px;
            font-size: 2em;
          }

          &.medium {
            font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
            line-height: 1.7em;
            max-width: 90%;
            font-size: 1.3em;
          }

          &.small {
            line-height: 1.9em;
            max-width: 90%;
            font-size: 1.1em;
            color: lighten(#b1b2b2, 10%);
          }
        }

        span {
          font-family: ProximaNovaLight, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
          display: inline-block;

          &.large {
            margin: 20px 0px 10px 0px;
            font-size: 2em;
          }
          &.small {
            margin: 31px 0px 10px 20px;
            line-height: 1.7em;
            max-width: 800px;
            font-size: 1.1em;
            color: lighten(#b1b2b2, 10%);
          }
        }


        .text {
          width: 95%;

          h3 {
            margin: 10px 0px 10px 0px;
            display: inline-block;
          }

          a {
            &:hover {
              color: #93ccd9;
            }
          }
        }

      }
    }

    .spacer {
      margin: 30px 0px 0px 0px;
      position: relative;
      display: block;
    }

    .divider {
      margin: 5px 0px 5px 0px;
      border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
      position: relative;

      // &:before {
      //   content: "";
      //   padding: 0px;
      //   margin: 0px;
      //   width: 10px;
      //   height: 1px;
      //   border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      //   color: #93ccd9;
      //   font-size: 1.1em;
      //   display: block;
      //   position: relative;
      //   top: 1px;
      //   left: -50px;
      // }
    }

    .expertise-container {
      margin: 0px 0px 40px 0px;

      .expertise {
        margin-right: 40px;
        width: 300px;
        display: inline-block;
        font-family: ProximaNovaLight, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;

        h4 {
          font-size: 1.3em;
        }

        &.programming {
          width: 90%;
        }

        ul {
          margin: 0px 0px 0px 20px;
          padding: 0px;
          list-style: none;

          li + li {
            margin-top: 10px;
          }

          li {
            margin: 0px 0px 0px 0px;
            text-indent: -.3em;
            padding: 0px 5px 10px 0px;
            font-size: 1em;
            color: lighten(#b1b2b2, 10%);
            border-bottom: 1px solid rgba(255, 255, 255, 0.15);

            &:before {
              // content: "\002022";
              content: "\2023";
              color: #93ccd9;
              font-size: 1.1em;
              top: -3px;
              left: -10px;
              position: relative;
              display: inline-block;
            }
          }
        }
      }
    }

    .experience-container {
      margin: 0px 0px 40px 0px;

      .experience {
        margin-right: 40px;
        max-width: 90%;
        display: inline-block;
        font-family: ProximaNovaLight, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;

        .timeago {
          margin: -55px 0px 0px 0px;
          display: inline-block;
          position: relative;
          left: -60px;
          // top: 55px;
        }

        h4 {
          margin: 0px 0px 20px 0px;
          font-size: 1.3em;
        }

        ul {
          margin: 0px 0px 0px 20px;
          padding: 0px;
          list-style: none;

          li + li {
            margin-top: 10px;
          }

          li {
            margin: 0px 0px 0px 0px;
            text-indent: -.3em;
            padding: 0px 5px 0px 0px;
            font-size: 1em;
            color: lighten(#b1b2b2, 10%);

            &:before {
              // content: "\002022";
              content: "\2023";
              color: #93ccd9;
              font-size: 1.1em;
              top: -3px;
              left: -10px;
              position: relative;
              display: inline-block;
            }
          }
        }
      }
    }

  }

  section.about, section.clients, section.contact, section.themes {
    font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;

    .img {
      padding: 0px 20px 10px 0px;
      width: auto;
      display: inline-block;
      vertical-align: top;

      .img-circle {
        z-index: 50;
        @include border-radius(50%);
        display: inline-block;
      }
    }

    .text {
      width: 93%;
      display: inline-block;
      vertical-align: top;
    }

    .info-container {
      padding: 30px 0px 30px 0px;
      background-color: rgba(0,0,0, 0.8);

      .content {
        p {
          max-width: 90%;
          font-family: ProximaNovaLight, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;

          &.large {
            margin: 20px 0px 10px 0px;
            font-size: 2em;
          }

          &.small {
            line-height: 1.7em;
            max-width: 800px;
            font-size: 1.1em;
            color: lighten(#b1b2b2, 10%);
          }

        }

      }
    }

    .divider {
      margin: 5px 0px 5px 0px;
      border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
      position: relative;
    }

    .skills-container {
      margin: 0px 0px 0px 0px;
    }

    .skills + .skills {
      margin: 0px 0px 0px 50px;
    }

    .skills {
      display: inline-block;
    }

    .toolbox-header {
      // color: #363636;
      font-family: ProximaNovaRegular, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
      font-weight: 500;
      margin-top: 5px;
      margin-bottom: -5px;
    }

    .toolbox-item {
      margin: 10px 0px 0px 0px;
      height: 20px;
    }

    #experience {
      font-family: ProximaNovaRegular, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
      font-weight: 500;

      a + a {
        margin-left: 10px;
      }

      a {
        &.active {
          color: #ffffff;
        }
      }
    }

    a {
      color: lighten(#b1b2b2, 10%);
      @include transition(all .2s linear);
      border-bottom: 1px solid transparent;

      &:hover {
        color: #ffffff;
        border-bottom: 1px solid #ff6e42;
      }
    }

    #piechart {
      margin: 30px 0px 0px -30px;
      height: auto;
      position: relative;
      width: 250px;
      display: inline-block;

      .pie {
        display: inline-block;
      }
    }

    table {
      margin: 0px;
      padding: 0px;

      th {
        margin: 0px;
        padding: 0px 0px 10px 0px;
        text-align: left;
        text-transform: uppercase;
        font-size: 0.8em;
      }

      td {
        min-width: 150px;
        padding: 10px 10px 10px 0px;
      }

      tr {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      }

      a {
        text-indent: -.3em;

        &:before {
          // content: "\002022";
          content: "\2023 \0020";
          color: #93ccd9;
          font-size: 1.1em;
          top: -2px;
          left: 0px;
          position: relative;
          display: inline-block;
        }
      }
    }

    .success {
      padding: 10px 0px 10px 0px;
      color: #93ccd9;
    }

    .list-container {
      margin: 0px 0px 20px 0px;

      .list {
        margin-right: 60px;
        min-width: 270px;
        display: inline-block;
        font-family: ProximaNovaLight, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;

        .required {
          padding: 10px 0px 0px 0px;
        }

        .spinner {
          width: 30px;
          height: 30px;
        }

        &.clients {
          width: 90%;

          ul {
            width: 90%;

            // -moz-column-count: 4;
            // -webkit-column-count: 4;
            // column-count: 4;

            // -moz-column-gap: 0;
            // -webkit-column-gap: 0;
            // column-gap: 0;

            li {
              display: block;
              border-bottom: 1px solid rgba(255, 255, 255, 0.15);
            }
          }
        }

        h4 {
          font-size: 1.3em;
        }

        a {
          color: lighten(#b1b2b2, 10%);
          @include transition(all .2s linear);
          border-bottom: 1px solid transparent;

          &:hover {
            color: #ffffff;
            border-bottom: 1px solid #ff6e42;
          }
        }

        ul {
          width: 300px;
          margin: 0px 0px 0px 20px;
          padding: 0px;
          list-style: none;

          li + li {
            margin-top: 10px;
          }

          li {
            margin: 0px 0px 0px 0px;
            text-indent: -.3em;
            padding: 0px 5px 0px 0px;
            font-size: 1em;
            color: lighten(#b1b2b2, 10%);

            &:before {
              content: "\2023 \0020";
              color: #93ccd9;
              font-size: 1.1em;
              top: -3px;
              left: -10px;
              position: relative;
              display: inline-block;
            }
          }
        }
      }
    }
  }

  section.code {
    .text {
      width: 93%;
      display: inline-block;
      vertical-align: top;
    }

    .info-container {
      padding: 0px 0px 30px 0px;
      background-color: rgba(0,0,0, 0.8);

      .content {
        p {
          max-width: 90%;
          font-family: ProximaNovaLight, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;

          &.large {
            margin: 20px 0px 10px 0px;
            font-size: 2em;
          }

          &.small {
            line-height: 1.7em;
            max-width: 800px;
            font-size: 1.1em;
            color: lighten(#b1b2b2, 10%);
          }

        }

      }
    }

    .divider {
      margin: 5px 0px 5px 0px;
      border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
      position: relative;
    }
  }
}