nav.sidebar-nav {
  width: auto;
  min-width: auto;
  height: 100%;
  min-height: 100%;
  background-color: rgba(0,0,0, 0.9);
  display: inline-block;
  vertical-align: top;
  position: absolute;
  z-index: 10;
  top: 0px;
  bottom: 0px;
  left: -300px;
  text-align: right;
  // @include transition(left 300ms ease-in-out);

  .lock {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: fixed;
    margin: 0px;
    padding: 0px;
    bottom: 134px;
    left: -50px;

    a {
      padding: 0px;
      margin: 0px;
      width: inherit;
      height: inherit;
      display: inline-block;
      font-size: 1.6em;
      text-align: center;
      color: #525252;
      @include transition(all .1s ease-in-out);

      .locked {
        display: none;
      }

      .unlocked {
        display: inline-block;
      }

      &.active {
        .locked {
          display: inline-block;
        }

        .unlocked {
          display: none;
        }
      }

      i {
        margin: 0px;
        padding: 0px;
        width: inherit;
        height: inherit;
        height: auto;
        font-size: 1em;
        display: inline-block;
      }

      &:hover {
        color: #ffffff;
        // background-color: rgba(56, 61, 63, 0.7);

        i {
          position: relative;
        }
      }
    }
  }

  .settings {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: fixed;
    margin: 0px;
    padding: 0px;
    bottom: 130px;
    left: -100px;

    a {
      padding: 0px;
      margin: 0px;
      width: inherit;
      height: inherit;
      display: inline-block;
      font-size: 1.2em;
      text-align: center;
      color: #525252;
      @include transition(all .1s ease-in-out);

      &.active {
        .locked {
          display: inline-block;
        }

        .unlocked {
          display: none;
        }
      }

      i {
        margin: 0px;
        padding: 0px;
        width: inherit;
        height: inherit;
        height: auto;
        font-size: 1em;
        display: inline-block;
      }

      &:hover {
        color: #ffffff;
        // background-color: rgba(56, 61, 63, 0.7);

        i {
          position: relative;
        }
      }
    }
  }

  .content-menu {
    width: 230px;
    height: auto;
    display: block;
    position: fixed;
    left: -300px;
    top: 0px;
    text-align: left;
    z-index: 500;
    // @include transition(left 300ms ease-in-out);

    h4 {
      margin: 0px;
      padding: 30px 0px 0px 30px;
      width: 100%;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 1.5em;
      font-family: ProximaNovaSemibold, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
      font-weight: 300;
    }

    ul {
      width: 230px;
      margin: 10px 0px 0px 0px;
      padding: 10px 10px 10px 20px;
      list-style: none;

      li {
        color: #ff6e42;
        padding: 0px 5px 0px 10px;
        width: 100%;
        display: inline-block;
        @include transition(all .1s ease-in-out);
        cursor: pointer;
        @include border-radius(10px);

        &.active {
          color: #93ccd9;

          a {
            color: #ffffff;
          }
        }

        a {
          padding: 5px;
          width: 150px;
          display: inline-block;
          color: #b1b2b2;
          text-transform: uppercase;
          font-size: .9em;
          font-family: ProximaNovaRegular, 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
          font-weight: 300;
          @include transition(all .1s ease-in-out);
        }

        &:before {
          content: "\2023 \0020";
          display: inline-block;
          position: relative;
          top: 2px;
        }

        &:hover {
          color: #93ccd9;
          background-color: rgba(255,255,255, 0.1);

          a {
            color: #ffffff;
          }
        }
      }
    }
  }

  ul.nav {
    margin: 0px;
    padding: 0px;
    width: 70px;
    height: auto;
    display: inline-block;
    position: relative;
    z-index: 2;
    border-left: 1px solid rgba(129, 129, 129, 0.3);
    border-right: 1px solid rgba(129, 129, 129, 0.3);
    background-color: #000000;

    li {
      width: 100%;
      border-bottom: 1px solid rgba(129, 129, 129, 0.3);
      display: inline-block;

      &:first-child {
        // margin: 50px 0 0 0;
        border-top: 1px solid rgba(129, 129, 129, 0.3);
      }

      &.design {
        a {
          font-size: 1.7em;
        }
      }

      &.identity {
        a {
          font-size: 1.7em;
        }
      }

      &.code {
        a {
          font-size: 1.3em;
        }
      }

      &.contact, &.clients {
        a {
          font-size: 1.3em;
        }
      }

      &.top {
        a {
          color: rgba(255,255,255, 0.8);
        }
      }

      a {
        padding: 15px 0px 10px 0px;
        margin: 0px;
        width: 100%;
        height: 60px;
        display: inline-block;
        color: #525252;
        font-size: 1.5em;
        text-align: center;
        @include transition(all .1s ease-in-out);

        .text {
          display: none;
        }

        &:hover {
          color: rgba(255,255,255, 0.8);
          background-color: rgba(56, 61, 63, 0.7);

          i {
            position: relative;
          }
        }

        &.active {
          color: #ffffff;
          background-color: #ff6e42;
          i {
            position: relative;
          }
        }

        &.highlight {
          color: rgba(255,255,255, 0.5);
          background-color: rgba(56, 61, 63, 0.5);

          &:hover {
            color: #ffffff;
            background-color: rgba(56, 61, 63, 0.7);
          }
        }

        i {
          position: relative;
          top: -2px;
        }
      }

      ul.sub-nav {
        display: none;
      }

    }
  }

  nav.slide-menu {
    width: 300px;
    height: auto;
    display: block;
    position: relative;
    left: -3px;
    top: 0px;
    z-index: 0;
    background-color: rgba(0,0,0,0.8);
  }
}