%script{:id => "views/work/design/show.html", :type => "text/ng-template"}
  %section.sub.design.show.view
    .innerContent
      / %div{:"ng-include" => '', :src => "'views/partials/user-header.html'"}

      .info-container.tall
        .content
          %h3
            {{project.name}}
            .spinner

          .buttons
            %a.btn.btn-back{:"ng-href" => '', :"ng-click" => "goBack()"}
              %i.icon-portfolio-arrow-left

          .block
            %ul.project-info
              %li
                %table
                  %tr
                    %td URL
                    %td
                      %a{:"ng-href" => "{{project.url}}", :target => '_blank'} {{project.url || 'N/A'}}
              %li
                %table
                  %tr
                    %td Year
                    %td {{project.date | date:'yyyy' || 'N/A'}}
              %li
                %table
                  %tr
                    %td Categories
                    %td {{(project.categories).join(', ').toLowerCase() || 'N/A'}}

              %li
                %table
                  %tr
                    %td Technologies
                    %td {{(project.technologies).join(', ').toLowerCase() || 'N/A'}}

              %li{:"ng-show" => "project.tags && project.tags.length > 0", :rel => 'tags'}
                %table
                  %tr
                    %td Tags
                    %td {{(project.tags).join(', ') || 'N/A'}}

              %li{:rel => 'description'}
                %table
                  %tr
                    %td Description
                    %td {{project.description || 'N/A'}}

      .project-info-overlay
        %p
      .thumbnails-show-view
        %div{:"ng-repeat" => "image in project.image_paths"}
          .thumb-full-width{:"ng-repeat" => "key in notSorted(image)", :"ng-init" => "val = image[key]", :"ng-switch" => '', :on => "key"}
            %div.block{:"ng-switch-when" => "logo_filename"}
              %img{:"ng-src" => "{{s3_path}}/image/portfolio_image/{{image.id}}/{{val}}"}
            %div.block{:"ng-switch-when" => "composite_image_desktop"}
              %img{:"ng-src" => "{{s3_path}}/image/portfolio_image/{{image.id}}/{{val}}"}
            %div.block{:"ng-switch-when" => "composite_image_laptop"}
              %img{:"ng-src" => "{{s3_path}}/image/portfolio_image/{{image.id}}/{{val}}"}
            %div.block{:"ng-switch-when" => "composite_image_tablet"}
              %img{:"ng-src" => "{{s3_path}}/image/portfolio_image/{{image.id}}/{{val}}"}
            %div.block{:"ng-switch-when" => "large_image"}
              %img{:"ng-src" => "{{s3_path}}/image/portfolio_image/{{image.id}}/{{val}}"}
            %div.block{:"ng-switch-when" => "image_filename"}
              %img{:"ng-src" => "{{s3_path}}/image/portfolio_image/{{image.id}}/{{val}}"}
              %div.info.description.hide{:"data-ng-show" => "image.description"} {{image.description}}
            %div.block{:"ng-switch-when" => "file_filename"}
              %img{:"ng-src" => "{{s3_path}}/image/screenshots/{{image.id}}/{{val}}"}
              %div.info.description.hide{:"data-ng-show" => "image.description"} {{image.description}}