%script{:type => "text/ng-template", :id => "views/work/code.html"}
  %section.sub.code
    .innerContent
      %div{:"ng-include" => '', :src => "'views/partials/user-header.html'"}

      .thumbnails
        .thumb
          %img{:src => 'images/thumb-dubleds-web1.jpg'}
        .thumb
          %img{:src => 'images/thumb-dubleds-web2.jpg'}
        .thumb
          %img{:src => 'images/thumb-dubleds-web1.jpg'}
        .thumb
          %img{:src => 'images/thumb-dubleds-web2.jpg'}
        .thumb
          %img{:src => 'images/thumb-dubleds-web1.jpg'}
        .thumb
          %img{:src => 'images/thumb-dubleds-web2.jpg'}
        .thumb
          %img{:src => 'images/thumb-dubleds-web1.jpg'}
        / .thumb
        /   %img{:src => 'images/examples/example1-1.jpg'}
        / .thumb
        /   %img{:src => 'images/examples/example1-2.jpg'}
        / .thumb
        /   %img{:src => 'images/examples/example1-3.jpg'}
        / .thumb
        /   %img{:src => 'images/examples/example1-4.jpg'}
        / .thumb
        /   %img{:src => 'images/examples/example1-5.jpg'}
        / .thumb
        /   %img{:src => 'images/examples/example1-6.jpg'}
        / .thumb
        /   %img{:src => 'images/examples/example1-7.jpg'}
        / .thumb
        /   %img{:src => 'images/examples/example1-8.jpg'}
        / .thumb
        /   %img{:src => 'images/examples/example1-9.jpg'}
        / .thumb
        /   %img{:src => 'images/examples/example1-10.jpg'}
        / .thumb
        /   %img{:src => 'images/examples/example1-11.jpg'}
        / .thumb
        /   %img{:src => 'images/examples/example4-1.jpg'}
        / .thumb
        /   %img{:src => 'images/examples/example4-2.jpg'}
        / .thumb
        /   %img{:src => 'images/examples/example4-3.jpg'}
        / .thumb
        /   %img{:src => 'images/examples/example4-4.jpg'}
        / .thumb
        /   %img{:src => 'images/examples/example4-5.jpg'}
        / .thumb
        /   %img{:src => 'images/examples/example4-6.jpg'}
        / .thumb
        /   %img{:src => 'images/examples/example4-7.jpg'}
        / .thumb
        /   %img{:src => 'images/examples/example4-8.jpg'}
        / .thumb
        /   %img{:src => 'images/examples/example4-9.jpg'}
        / .thumb
        /   %img{:src => 'images/examples/example4-10.jpg'}
        / .thumb
        /   %img{:src => 'images/examples/example4-11.jpg'}
        / .thumb
        /   %img{:src => 'images/examples/example4-12.jpg'}
        / .thumb
        /   %img{:src => 'images/examples/example4-13.jpg'}
        / .thumb
        /   %img{:src => 'images/examples/example4-14.jpg'}
        / .thumb
        /   %img{:src => 'images/examples/example4-15.jpg'}
        / .thumb
        /   %img{:src => 'images/examples/example4-16.jpg'}
        / .thumb
        /   %img{:src => 'images/examples/example4-17.jpg'}