%script{:type => "text/ng-template", :id => "views/work/code.html"}
  %section.sub.code
    .innerContent
      %div{:"ng-include" => '', :src => "'views/partials/user-header.html'"}

      .thumbnails
        .thumb
          %img{:src => 'images/thumb-dubleds-web1.jpg'}
        .thumb
          %img{:src => 'images/thumb-dubleds-web2.jpg'}
        .thumb
          %img{:src => 'images/thumb-dubleds-web1.jpg'}
        .thumb
          %img{:src => 'images/thumb-dubleds-web2.jpg'}
        .thumb
          %img{:src => 'images/thumb-dubleds-web1.jpg'}
        .thumb
          %img{:src => 'images/thumb-dubleds-web2.jpg'}
        .thumb
          %img{:src => 'images/thumb-dubleds-web1.jpg'}