%script{:type => "text/ng-template", :id => "views/work/design.html"}
  %section.sub.design
    .innerContent

      %div{:"data-ng-include" => '', :src => "'views/partials/user-header.html'"}

      %div{:"data-ng-hide" => "projects && projects.length > 0", :class => "error"}
        No images found for this category.

      .thumbnails{:"ng-init" => "projectThumbs = projects"}
        %div{:"data-ng-repeat" => "project in projectThumbs | orderBy:name:descending | filter:category"}
          %div{:"ng-repeat" => "(key, val) in project.image_paths"}
            %div{:"ng-switch" => '', :on => "key"}
              .thumb{:"ng-switch-when" => "large_image"}

                .image
                  .info-container
                    .content
                      %h3 {{project.name}}
                      .block
                        %table
                          %tr
                            %td Url
                            %td
                              %a{:"ng-href" => "{{project.url}}"} {{project.url || 'N/A'}}
                          %tr
                            %td Tags
                            %td
                              %div {{(project.tags).join(', ') || 'N/A'}}
                          %tr
                            %td Categories
                            %td
                              %div {{(project.categories).join(', ') || 'N/A'}}
                          %tr
                            %td Year
                            %td
                              %div {{project.date | date:'yyyy' || 'N/A'}}

                      .block
                        %a.btn.btn-orange{:"data-ng-href" => "/#/work/design/project/{{project.slug}}"}
                          %i.icon-portfolio-magnifier
                          View Project
                        %a.btn.btn-teal{:"data-ng-href" => "{{project.url}}"}
                          %i.icon-portfolio-resize
                          Website
                  %img{:"ng-src" => "images/portfolio_images/{{project.image_paths.id}}/{{val}}"}
              / %div{:"ng-switch-when" => "composite_image_laptop"}
              /     %img{:"ng-src" => "images/portfolio_images/{{val}}"}

        / .thumb{:"ng-repeat" => "item in photos.items"}
        /   %img{:"ng-src" => "{{ item.media.m }}"}
