<script id='views/work/design.html' type='text/ng-template'>
<section class='sub design'>
<div class='innerContent'>
<div ng-include='' src="'views/partials/user-header.html'"></div>
<div class='error' data-ng-hide='projects &amp;&amp; projects.length &gt; 0'>
No images found for this category.
</div>
<div class='thumbnails'>
<div ng-repeat='project in projects | orderBy:name:descending | filter:category'>
<div class='thumb' ng-repeat='thumbnail in getThumbnails(project.images)'>
<div class='info-container'>
<h1>
{{project.name}}
</h1>
<div class='block'>
<h4>Url</h4>
<p>{{project.url}}</p>
</div>
<div class='block'>
<h4>Tags</h4>
<ul>
<li ng-repeat='tag in getTags(project.tags)'>
<a class='tag' href='#'>{{tag}}</a>
</li>
</ul>
</div>
<div class='block'>
<h4>Date</h4>
<p>{{project.date}}</p>
</div>
<a class='btn btn-info' ng-href='/#/work/design/show/{{project.id}}'>
<i class='icon-portfolio-magnify'></i>
Info
</a>
<a class='btn btn-info' ng-href='{{project.url}}'>
<i class='icon-portfolio-visit'></i>
Visit
</a>
</div>
<img src='images/{{thumbnail}}'>
</div>
</div>
</div>
</div>
</section>
</script>
