<script id='views/work/identity.html' type='text/ng-template'>
<section class='sub identity'>
<div class='innerContent'>
<div ng-include='' src="'views/partials/user-header.html'"></div>
<div class='thumbnails'>
<div class='thumb'>
<img src='images/thumb-dubleds-web1.jpg'>
</div>
<div class='thumb'>
<img src='images/thumb-dubleds-web2.jpg'>
</div>
<div class='thumb'>
<img src='images/thumb-dubleds-web1.jpg'>
</div>
<div class='thumb'>
<img src='images/thumb-dubleds-web2.jpg'>
</div>
<div class='thumb'>
<img src='images/thumb-dubleds-web1.jpg'>
</div>
<div class='thumb'>
<img src='images/thumb-dubleds-web2.jpg'>
</div>
<div class='thumb'>
<img src='images/thumb-dubleds-web1.jpg'>
</div>
</div>
</div>
</section>
</script>
