%script{:type => "text/ng-template", :id => "views/work/index.html"}
  %section.sub.index
    .innerContent

      / %div{:"data-ng-include" => '', :src => "'views/partials/user-header.html'"}

      %div{:"data-ng-hide" => "projects && projects.length > 0", :class => "error"}
        No images found for this category.

      .info-container.tall
        .content

          %h3 {{category}}

          .sort-by{"data-option-key" => "sort"}
            .title Sort By
            %a.active{"data-option-value" => "name", :href => "#"}
              Name
            %a{"data-option-value" => "category", :href => "#"}
              Category
            %a{"data-option-value" => "tag", :href => "#"}
              Tag
            %a{"data-option-value" => "year", :href => "#"}
              Year

          / .block
          /   %table
          /     %tr
          /       %td Url
          /       %td
          /         %a{:"ng-href" => "{{project.url}}"} {{project.url || 'N/A'}}

          /     %tr
          /       %td Year
          /       %td
          /         %div {{project.date | date:'yyyy' || 'N/A'}}

          /     %tr
          /       %td Description
          /       %td
          /         %div {{project.description || 'N/A'}}
          .buttons
            %a.btn.btn-back{:"ng-href" => '', :"ng-click" => "goBack()"}
              %i.icon-portfolio-arrow-left
              / Back
            / .block
            /   %a.btn.btn-teal{:"data-ng-href" => "{{project.url}}"}
            /     %i.icon-portfolio-resize
            /     Website

      .thumbnails
        %div{:"data-ng-repeat" => "project in projects"}
          .thumb{:"data-category" => "{{project.categories.join(', ').toLowerCase()}}", :"data-tag" => "{{project.tags.join(', ').toLowerCase()}}", :"class" => "{{project.categories.join(', ').toLowerCase()}}"}
            / {{project.categories}}
            .image{:"ng-click" => "go('/work/design/project/'+project.slug)"}
              .project-details-container
                .content
                  %h3.name {{project.name}}
                  / .block
                  /   %p {{project.description}}
                  / .block
                  /   %table
                  /     %tr
                  /       %td.url Url
                  /       %td
                  /         %a{:"ng-href" => "{{project.url}}"} {{project.url || 'N/A'}}
                  /     / %tr
                  /     /   %td Tags
                  /     /   %td
                  /     /     %div {{(project.tags).join(', ') || 'N/A'}}
                  /     / %tr
                  /     /   %td Categories
                  /     /   %td
                  /     /     {{(project.categories).join(', ').toLowerCase() || 'N/A'}}
                  /     %tr
                  /       %td Technologies
                  /       %td
                  /         {{(project.technologies).join(', ').toLowerCase() || 'N/A'}}
                  /     %tr
                  /       %td Year
                  /       %td.year
                  /         {{project.date | date:'yyyy' || 'N/A'}}

                  / .block
                  /   %a.btn.btn-orange{:"data-ng-href" => "/#/work/design/project/{{project.slug}}"}
                  /     %i.icon-portfolio-magnifier
                  /     Details
                  /   %a.btn.btn-teal{:"data-ng-href" => "{{project.url}}", :target => '_blank'}
                  /     %i.icon-portfolio-resize
                  /     / Website
              %img{:"ng-src" => "{{getPreviewImagePath(project)}}"}
      %nav#page_nav
        %a{:"ng-href" => "/#/work/design/{{limit+3}}/{{skip+1}}"}


        / .thumb{:"ng-repeat" => "item in photos.items"}
        /   %img{:"ng-src" => "{{ item.media.m }}"}
