<script id='views/work/index.html' type='text/ng-template'>
<section class='sub index'>
<div class='innerContent'>
<!-- %div{:"data-ng-include" => '', :src => "'views/partials/user-header.html'"} -->
<div class='error' data-ng-hide='projects &amp;&amp; projects.length &gt; 0'>
No images found for this category.
</div>
<div class='info-container tall'>
<div class='content'>
<h3>
{{category}}
<!-- .spinner -->
<!-- .text -->
</h3>
<div class='sort-by' data-option-key='sort'>
<div class='title'>Sort By</div>
<a class='active' data-option-value='name' href='#'>
Name
</a>
<a data-option-value='category' href='#'>
Category
</a>
<a data-option-value='tag' href='#'>
Tag
</a>
<a data-option-value='year' href='#'>
Year
</a>
</div>
<!-- .block -->
<!-- %table -->
<!-- %tr -->
<!-- %td Url -->
<!-- %td -->
<!-- %a{:"ng-href" => "{{project.url}}"} {{project.url || 'N/A'}} -->
<!-- %tr -->
<!-- %td Year -->
<!-- %td -->
<!-- %div {{project.date | date:'yyyy' || 'N/A'}} -->
<!-- %tr -->
<!-- %td Description -->
<!-- %td -->
<!-- %div {{project.description || 'N/A'}} -->
<div class='buttons'>
<a class='btn btn-back' ng-click='goBack()' ng-href=''>
<i class='icon-portfolio-arrow-left'></i>
<!-- Back -->
</a>
<!-- .block -->
<!-- %a.btn.btn-teal{:"data-ng-href" => "{{project.url}}"} -->
<!-- %i.icon-portfolio-resize -->
<!-- Website -->
</div>
</div>
</div>
<div class='thumbnails'>
<!-- %div{:"infinite-scroll" => '  nextPage()', :"infinite-scroll-disabled" => 'busy', :"infinite-scroll-distance" => '2', :"infinite-scroll-immediate-check" => false} -->
<div data-ng-repeat='project in projects'>
<div class='thumb' data-category="{{project.categories.join(', ').toLowerCase()}}" data-tag="{{project.tags.join(', ').toLowerCase()}}" rel='{{project.id}}'>
<!-- {{project.categories}} -->
<div class='image' ng-click="go(path+'/project/'+project.slug)">
<div class='project-details-container'>
<div class='content'>
<h3 class='name'>{{project.name}}</h3>
<!-- .block -->
<!-- %p {{project.description}} -->
<!-- .block -->
<!-- %table -->
<!-- %tr -->
<!-- %td.url Url -->
<!-- %td -->
<!-- %a{:"ng-href" => "{{project.url}}"} {{project.url || 'N/A'}} -->
<!-- / %tr -->
<!-- /   %td Tags -->
<!-- /   %td -->
<!-- /     %div {{(project.tags).join(', ') || 'N/A'}} -->
<!-- / %tr -->
<!-- /   %td Categories -->
<!-- /   %td -->
<!-- /     {{(project.categories).join(', ').toLowerCase() || 'N/A'}} -->
<!-- %tr -->
<!-- %td Technologies -->
<!-- %td -->
<!-- {{(project.technologies).join(', ').toLowerCase() || 'N/A'}} -->
<!-- %tr -->
<!-- %td Year -->
<!-- %td.year -->
<!-- {{project.date | date:'yyyy' || 'N/A'}} -->
<div class='block'>
<a class='btn btn-orange' ng-click="go(path+'/project/'+project.slug)">
<i class='icon-portfolio-magnifier'></i>
<div class='text'>Screenshots</div>
</a>
<a class='btn btn-teal' ng-click="go('/work/code/project/'+project.slug)" ng-show='project &amp;&amp; project.sample_code.length'>
<i class='icon-portfolio-code'></i>
<div class='text'>Sample Code</div>
</a>
</div>
</div>
</div>
<img ng-show='getImagePath(project).length &gt; 0' ng-src='{{getImagePath(project)}}'>
</div>
</div>
<!-- %div{:"ng-show" => 'busy'} Loading data... -->
</div>
</div>
<nav id='page_nav'>
<a ng-href='{{path}}/{{limit+3}}/{{skip+1}}'></a>
<!-- .thumb{:"ng-repeat" => "item in photos.items"} -->
<!-- %img{:"ng-src" => "{{ item.media.m }}"} -->
</nav>
</div>
</section>
</script>
