%script{:id => "views/work/show.html", :type => "text/ng-template"}
  %section.sub.work.show.view
    .innerContent
      / %div{:"ng-include" => '', :src => "'views/partials/user-header.html'"}

      .info-container.tall
        .content
          %h3
            {{project.name}}
            .spinner
              .text

          .buttons
            %a.btn.btn-back{:"ng-href" => '', :"ng-click" => "goBack()"}
              %i.icon-portfolio-arrow-left

          .block
            %ul.project-info
              %li
                %table
                  %tr
                    %td URL
                    %td
                      %a{:"ng-href" => "{{project.url}}", :target => '_blank'} {{project.url || 'N/A'}}
              %li
                %table
                  %tr
                    %td Year
                    %td {{project.date | date:'yyyy' || 'N/A'}}

              %li{:"ng-init" => "client = getClient(project)"}
                %table
                  %tr
                    %td Client
                    %td {{client || 'N/A'}}
              %li
                %table
                  %tr
                    %td Categories
                    %td {{(project.categories).join(', ').toLowerCase() || 'N/A'}}

              %li
                %table
                  %tr
                    %td Technologies
                    %td {{(project.technologies).join(', ').toLowerCase() || 'N/A'}}

              %li{:"ng-show" => "project.tags && project.tags.length > 0", :rel => 'tags'}
                %table
                  %tr
                    %td Tags
                    %td {{(project.tags).join(', ') || 'N/A'}}
              %li{:"ng-show" => "project && project.sample_code.length"}
                %table
                  %tr
                    %td Sample Code
                    %td
                      %a{:"ng-click" => "go('/work/code/project/'+project.slug)"}
                        %i.icon-portfolio-code
                        Click here to view
                        %i.icon-portfolio-code


              %li{:rel => 'description'}
                %table
                  %tr
                    %td Description
                    %td {{project.description || 'N/A'}}

      .project-info-overlay
        %p
      .thumbnails.show-view
        %div{:"ng-repeat" => "image in project.image_paths"}
          .thumb{:"ng-repeat" => "key in notSorted(image)", :"ng-init" => "val = image[key]", :"ng-switch" => '', :on => "key"}
            .image

              .block{:"ng-switch-when" => "logo_filename"}
                .project-details-container{:style => 'opacity: 0'}
                  .content
                    %h3.name
                      %i.icon-portfolio-resize
                      View
                %img{:"ng-src" => "{{s3_path}}/image/portfolio_image/{{image.id}}/{{val}}", :width => "{{image.logo_width}}", :height => "{{image.logo_height}}"}
              .block{:"ng-switch-when" => "composite_image_desktop"}
                .project-details-container{:style => 'opacity: 0'}
                  .content
                    %h3.name
                      %i.icon-portfolio-resize
                      View
                %img{:"ng-src" => "{{s3_path}}/image/portfolio_image/{{image.id}}/{{val}}", :width => "871", :height => "638"}
              .block{:"ng-switch-when" => "composite_image_laptop"}
                .project-details-container{:style => 'opacity: 0'}
                  .content
                    %h3.name
                      %i.icon-portfolio-resize
                      View
                %img{:"ng-src" => "{{s3_path}}/image/portfolio_image/{{image.id}}/{{val}}", :width => "786", :height => "575"}
              .block{:"ng-switch-when" => "composite_image_tablet"}
                .project-details-container{:style => 'opacity: 0'}
                  .content
                    %h3.name
                      %i.icon-portfolio-resize
                      View
                %img{:"ng-src" => "{{s3_path}}/image/portfolio_image/{{image.id}}/{{val}}", :width => "689", :height => "504"}
              / %div.block{:"ng-switch-when" => "large_image"}
              /   %img{:"ng-src" => "{{s3_path}}/image/portfolio_image/{{image.id}}/{{val}}"}
              .block{:"ng-switch-when" => "image_filename"}
                .project-details-container{:style => 'opacity: 0'}
                  .content
                    %h3.name
                      %i.icon-portfolio-resize
                      View
                %img{:"ng-src" => "{{s3_path}}/image/portfolio_image/{{image.id}}/{{val}}", :width => "{{image.image_width}}"}
                .info.description.hide{:"data-ng-show" => "image.description"} {{image.description}}
              .block{:"ng-switch-when" => "file_filename"}
                .project-details-container{:style => 'opacity: 0'}
                  .content
                    %h3.name
                      %i.icon-portfolio-resize
                      View
                %img{:"ng-src" => "{{s3_path}}/image/screenshots/{{image.id}}/{{val}}", :width => "{{image.image_width}}"}
                .info.description.hide{:"data-ng-show" => "image.description"} {{image.description}}

  #zoom
    %a.close-button{:href => '#'}
      %i.icon-portfolio-close
    %img{:src => ""}