<script id='views/work/show.html' type='text/ng-template'>
<section class='sub work show view'>
<div class='innerContent'>
<!-- %div{:"ng-include" => '', :src => "'views/partials/user-header.html'"} -->
<div class='info-container tall'>
<div class='content'>
<h3>
{{project.name}}
<div class='spinner'>
<div class='text'></div>
</div>
</h3>
<div class='buttons'>
<a class='btn btn-back' ng-click='goBack()' ng-href=''>
<i class='icon-portfolio-arrow-left'></i>
</a>
</div>
<div class='block'>
<ul class='project-info'>
<li>
<table>
<tr>
<td>URL</td>
<td>
<a ng-href='{{project.url}}' target='_blank'>{{project.url || 'N/A'}}</a>
</td>
</tr>
</table>
</li>
<li>
<table>
<tr>
<td>Year</td>
<td>{{project.date | date:'yyyy' || 'N/A'}}</td>
</tr>
</table>
</li>
<li ng-init='client = getClient(project)'>
<table>
<tr>
<td>Client</td>
<td>{{client || 'N/A'}}</td>
</tr>
</table>
</li>
<li>
<table>
<tr>
<td>Categories</td>
<td>{{(project.categories).join(', ').toLowerCase() || 'N/A'}}</td>
</tr>
</table>
</li>
<li>
<table>
<tr>
<td>Technologies</td>
<td>{{(project.technologies).join(', ').toLowerCase() || 'N/A'}}</td>
</tr>
</table>
</li>
<li ng-show='project.tags &amp;&amp; project.tags.length &gt; 0' rel='tags'>
<table>
<tr>
<td>Tags</td>
<td>{{(project.tags).join(', ') || 'N/A'}}</td>
</tr>
</table>
</li>
<li ng-show='project &amp;&amp; project.sample_code.length'>
<table>
<tr>
<td>Sample Code</td>
<td>
<a ng-click="go('/work/code/project/'+project.slug)">
<i class='icon-portfolio-code'></i>
Click here to view
<i class='icon-portfolio-code'></i>
</a>
</td>
</tr>
</table>
</li>
<li rel='description'>
<table>
<tr>
<td>Description</td>
<td>{{project.description || 'N/A'}}</td>
</tr>
</table>
</li>
</ul>
</div>
</div>
</div>
<div class='project-info-overlay'>
<p></p>
</div>
<div class='thumbnails show-view'>
<div ng-repeat='image in project.image_paths'>
<div class='thumb' ng-init='val = image[key]' ng-repeat='key in notSorted(image)' ng-switch='' on='key'>
<div class='image'>
<div class='block' ng-switch-when='logo_filename'>
<div class='project-details-container' style='opacity: 0'>
<div class='content'>
<h3 class='name'>
<i class='icon-portfolio-resize'></i>
View
</h3>
</div>
</div>
<img height='{{image.logo_height}}' ng-src='{{s3_path}}/image/portfolio_image/{{image.id}}/{{val}}' width='{{image.logo_width}}'>
</div>
<div class='block' ng-switch-when='composite_image_desktop'>
<div class='project-details-container' style='opacity: 0'>
<div class='content'>
<h3 class='name'>
<i class='icon-portfolio-resize'></i>
View
</h3>
</div>
</div>
<img height='638' ng-src='{{s3_path}}/image/portfolio_image/{{image.id}}/{{val}}' width='871'>
</div>
<div class='block' ng-switch-when='composite_image_laptop'>
<div class='project-details-container' style='opacity: 0'>
<div class='content'>
<h3 class='name'>
<i class='icon-portfolio-resize'></i>
View
</h3>
</div>
</div>
<img height='575' ng-src='{{s3_path}}/image/portfolio_image/{{image.id}}/{{val}}' width='786'>
</div>
<div class='block' ng-switch-when='composite_image_tablet'>
<div class='project-details-container' style='opacity: 0'>
<div class='content'>
<h3 class='name'>
<i class='icon-portfolio-resize'></i>
View
</h3>
</div>
</div>
<img height='504' ng-src='{{s3_path}}/image/portfolio_image/{{image.id}}/{{val}}' width='689'>
</div>
<!-- %div.block{:"ng-switch-when" => "large_image"} -->
<!-- %img{:"ng-src" => "{{s3_path}}/image/portfolio_image/{{image.id}}/{{val}}"} -->
<div class='block' ng-switch-when='image_filename'>
<div class='project-details-container' style='opacity: 0'>
<div class='content'>
<h3 class='name'>
<i class='icon-portfolio-resize'></i>
View
</h3>
</div>
</div>
<img ng-src='{{s3_path}}/image/portfolio_image/{{image.id}}/{{val}}' width='{{image.image_width}}'>
<div class='info description hide' data-ng-show='image.description'>{{image.description}}</div>
</div>
<div class='block' ng-switch-when='file_filename'>
<div class='project-details-container' style='opacity: 0'>
<div class='content'>
<h3 class='name'>
<i class='icon-portfolio-resize'></i>
View
</h3>
</div>
</div>
<img ng-src='{{s3_path}}/image/screenshots/{{image.id}}/{{val}}' width='{{image.image_width}}'>
<div class='info description hide' data-ng-show='image.description'>{{image.description}}</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<div id='zoom'>
<a class='close-button' href='#'>
<i class='icon-portfolio-close'></i>
</a>
<img src=''>
</div>
</script>
