<script id='views/about.html' type='text/ng-template'>
  <section class='sub about'>
    <div class='innerContent'>
      <div ng-include='' src="'views/partials/user-header.html'"></div>
      About Content
    </div>
  </section>
</script>
