%script{:id => "views/about.html", :type => "text/ng-template"}
  %section.sub.about
    .innerContent
      %div{:"ng-include" => '', :src => "'views/partials/user-header.html'"}

      About Content