<script id='views/about.html' type='text/ng-template'>
<section class='sub about'>
<div class='innerContent'>
<div ng-include='' src="'views/partials/user-header.html'"></div>
<div class='info-container'>
<div class='content'>
<!-- .img -->
<!-- %gravatar{:email => "user.email", :"data-ng-model" => "user", :class => "img-circle", :style => "width: 80px; height: 80px"} -->
<h3>About</h3>
<div>
<div class='text'>
<p class='large'>
Hi there, my name is Isaac. I'm an UI/UX Designer & Web Developer originally from Livingood, Alaska and currently residing in Orange County, CA.
</p>
<div class='divider'></div>
<p class='small'>
I love making all kinds of things for the web but my favorite projects are designing and developing responsive websites, real-time web applications, mobile applications, single-page applications, all kinds of games, various types of print media, and branding identities.
</p>
<div class='divider'></div>
</div>
</div>
<div class='skills-container'>
<div class='skills'>
<h4>Skills</h4>
<div class='toolbox-header' data-length='300'>UI / UX</div>
<div class='toolbox-item'></div>
<div class='toolbox-header' data-length='300'>Frontend Development</div>
<div class='toolbox-item'></div>
<div class='toolbox-header' data-length='200'>Backend Development</div>
<div class='toolbox-item'></div>
<div class='toolbox-header' data-length='170'>Mobile Development</div>
<div class='toolbox-item'></div>
<div class='toolbox-header' data-length='280'>Web Design</div>
<div class='toolbox-item'></div>
<div class='toolbox-header' data-length='190'>Motion Graphics</div>
<div class='toolbox-item'></div>
<div class='toolbox-header' data-length='290'>Print Design</div>
<div class='toolbox-item'></div>
<div class='toolbox-header' data-length='220'>Branding & Identity</div>
<div class='toolbox-item'></div>
</div>
<div class='skills'>
<h4>Tools</h4>
<div class='toolbox-header' data-length='300'>HTML5 / HAML</div>
<div class='toolbox-item'></div>
<div class='toolbox-header' data-length='300'>CSS3 / SASS</div>
<div class='toolbox-item'></div>
<div class='toolbox-header' data-length='300'>JavaScript / CoffeeScript</div>
<div class='toolbox-item'></div>
<div class='toolbox-header' data-length='300'>Ruby / Rails / Padrino / PHP</div>
<div class='toolbox-item'></div>
<div class='toolbox-header' data-length='300'>MySQL / MongoDB / PostgresSQL</div>
<div class='toolbox-item'></div>
<div class='toolbox-header' data-length='220'>Node.js</div>
<div class='toolbox-item'></div>
<div class='toolbox-header' data-length='300'>Flash ActionScript 1, 2 & 3</div>
<div class='toolbox-item'></div>
<div class='toolbox-header' data-length='300'>Photoshop</div>
<div class='toolbox-item'></div>
<div class='toolbox-header' data-length='220'>Illustrator</div>
<div class='toolbox-item'></div>
<div class='toolbox-header' data-length='180'>After Effects</div>
<div class='toolbox-item'></div>
<div class='toolbox-header' data-length='90'>Maya</div>
<div class='toolbox-item'></div>
</div>
<div class='skills'>
<h4>Experience</h4>
<div id='experience'>
<a href='#ui'>UI</a>
<a href='#ux'>UX</a>
<a href='#frontend'>Front End</a>
<a href='#backend'>Back End</a>
</div>
<div id='piechart'></div>
</div>
</div>
<div>
<div class='text'>
<!-- .divider -->
<h3>Colophon</h3>
<div class='divider'></div>
<p class='small'>
This portfolio site is the outcome of experimenting with Node.js, Sails.js and Angular.js.
<br>
Download the full project source code at:
<i class='icon-portfolio-github teal'></i>
<a class='teal' ng-href='https://github.com/levid/portfolio' target='_blank'>
github.com/levid/portfolio
</a>
</p>
<div class='divider'></div>
<p class='medium'>
Here is a full list of tools and libraries I used to create this site in case you are interested.
</p>
<div class='divider'></div>
</div>
</div>
<div class='list-container'>
<div class='list'>
<h4>JavaScript Libraries</h4>
<table>
<tr>
<th>Name</th>
<th>For</th>
</tr>
<tr>
<td>
<a ng-href='http://jquery.com/' target='_blank'>
jQuery
</a>
</td>
<td>
DOM Manipulation
</td>
</tr>
<tr>
<td>
<a ng-href='http://gsgd.co.uk/sandbox/jquery/easing/' target='_blank'>
Easing
</a>
</td>
<td>
Animation Easing Methods
</td>
</tr>
<tr>
<td>
<a ng-href='https://github.com/jquery/jquery-migrate/' target='_blank'>
Migrate
</a>
</td>
<td>
API's and features removed from jQuery core
</td>
</tr>
<tr>
<td>
<a ng-href='http://tutorialzine.com/2011/09/shuffle-letters-effect-jquery/' target='_blank'>
Shuffle Letters
</a>
</td>
<td>
Letter Shuffling Goodness
</td>
</tr>
<tr>
<td>
<a ng-href='http://isotope.metafizzy.co/' target='_blank'>
Isotope
</a>
</td>
<td>
Portfolio Fluid Grid
</td>
</tr>
<tr>
<td>
<a ng-href='https://github.com/alexanderdickson/waitForImages' target='_blank'>
Wait For Images
</a>
</td>
<td>
Image Preloading
</td>
</tr>
<tr>
<td>
<a ng-href='https://github.com/cowboy/jquery-tiny-pubsub' target='_blank'>
Tiny PubSub
</a>
</td>
<td>
Simple PubSub Event System
</td>
</tr>
<tr>
<td>
<a ng-href='https://github.com/stanlemon/jGrowl' target='_blank'>
jGrowl
</a>
</td>
<td>
Simple Growl Notifications
</td>
</tr>
<tr>
<td>
<a ng-href='https://github.com/brandonaaron/jquery-mousewheel' target='_blank'>
Mouse Wheel
</a>
</td>
<td>
Mouse Wheel Scrolling
</td>
</tr>
<tr>
<td>
<a ng-href='http://manos.malihu.gr/jquery-custom-content-scroller/' target='_blank'>
Custom Content Scroller
</a>
</td>
<td>
Simple Custom Content Scroller
</td>
</tr>
<tr>
<td>
<a ng-href='https://github.com/paulirish/infinite-scroll' target='_blank'>
Infinite Scroll
</a>
</td>
<td>
Portfolio Grid Infinite Scrolling
</td>
</tr>
<tr>
<td>
<a ng-href='https://github.com/paulirish/infinite-scroll' target='_blank'>
Infinite Scroll
</a>
</td>
<td>
Portfolio Grid Infinite Scrolling
</td>
</tr>
<tr>
<td>
<a ng-href='http://jqueryui.com/' target='_blank'>
jQuery UI
</a>
</td>
<td>
Additional Effects
</td>
</tr>
<tr>
<td>
<a ng-href='http://fgnass.github.io/spin.js/' target='_blank'>
Spin
</a>
</td>
<td>
Loading Spinners
</td>
</tr>
<tr>
<td>
<a ng-href='http://twitter.github.io/bootstrap/' target='_blank'>
Bootstrap Tooltips
</a>
</td>
<td>
Context Tooltips
</td>
</tr>
<tr>
<td>
<a ng-href='http://twitter.github.io/bootstrap/' target='_blank'>
Bootstrap Tooltips
</a>
</td>
<td>
Tooltips
</td>
</tr>
<tr>
<td>
<a ng-href='http://modernizr.com/' target='_blank'>
Modernizr
</a>
</td>
<td>
Feature Detection and Support
</td>
</tr>
<tr>
<td>
<a ng-href='http://imakewebthings.com/jquery-waypoints/' target='_blank'>
Waypoints
</a>
</td>
<td>
Scroll Location Detection
</td>
</tr>
<tr>
<td>
<a ng-href='https://github.com/adamwulf/Columnizer-jQuery-Plugin' target='_blank'>
Columnizer
</a>
</td>
<td>
Multi-column layouts
</td>
</tr>
<tr>
<td>
<a ng-href='http://ace.ajax.org/' target='_blank'>
ACE Editor
</a>
</td>
<td>
Sample Code Previews
</td>
</tr>
</table>
</div>
<div class='list'>
<h4>Development Tools</h4>
<table>
<tr>
<th>Name</th>
<th>For</th>
</tr>
<tr>
<td>
<a ng-href='http://www.ruby-lang.org/' target='_blank'>
Ruby
</a>
</td>
<td>
Portfolio Admin Tool
</td>
</tr>
<tr>
<td>
<a ng-href='http://rubyonrails.org/' target='_blank'>
Rails
</a>
</td>
<td>
Portfolio Admin Tool
</td>
</tr>
<tr>
<td>
<a ng-href='http://haml.info/' target='_blank'>
HAML
</a>
</td>
<td>
HTML Creation
</td>
</tr>
<tr>
<td>
<a ng-href='http://sass-lang.com/' target='_blank'>
SASS
</a>
</td>
<td>
CSS Creation
</td>
</tr>
<tr>
<td>
<a ng-href='http://icomoon.io/' target='_blank'>
Icomoon
</a>
</td>
<td>
Icon Web-Font Generator
</td>
</tr>
<tr>
<td>
<a ng-href='http://rmagick.rubyforge.org/' target='_blank'>
RMagick
</a>
</td>
<td>
Processing Portfolio Images
</td>
</tr>
<tr>
<td>
<a ng-href='http://nodejs.org/' target='_blank'>
Node.js
</a>
</td>
<td>
Backend
</td>
</tr>
<tr>
<td>
<a ng-href='http://sailsjs.com/' target='_blank'>
Sails.js
</a>
</td>
<td>
Real-time Backend API Framework
</td>
</tr>
<tr>
<td>
<a ng-href='http://angularjs.org/' target='_blank'>
Angular.js
</a>
</td>
<td>
Frontend JavaScript framework
</td>
</tr>
<tr>
<td>
<a ng-href='http://d3js.org/' target='_blank'>
D3.js
</a>
</td>
<td>
SVG Charts
</td>
</tr>
<tr>
<td>
<a ng-href='http://socket.io/' target='_blank'>
Socket.io
</a>
</td>
<td>
Real-time Data
</td>
</tr>
<tr>
<td>
<a ng-href='http://www.mongodb.org/' target='_blank'>
Mongo DB
</a>
</td>
<td>
Database Storage
</td>
</tr>
<tr>
<td>
<a ng-href='http://coffeescript.org/' target='_blank'>
CoffeeScript
</a>
</td>
<td>
Frontend Development
</td>
</tr>
<tr>
<td>
<a ng-href='http://aws.amazon.com/s3/' target='_blank'>
Amazon S3
</a>
</td>
<td>
Image Storage
</td>
</tr>
<tr>
<td>
<a ng-href='https://www.heroku.com/' target='_blank'>
Heroku
</a>
</td>
<td>
Server Hosting
</td>
</tr>
<tr>
<td>
<a ng-href='http://www.sublimetext.com/2' target='_blank'>
Sublime Text 2
</a>
</td>
<td>
IDE
</td>
</tr>
<tr>
<td>
<a ng-href='github.com' target='_blank'>
GitHub
</a>
</td>
<td>
Code Repository
</td>
</tr>
</table>
</div>
<div class='list'>
<h4>Design Tools</h4>
<table>
<tr>
<th>Name</th>
<th>For</th>
</tr>
<tr>
<td>
<a ng-href='http://www.creativesoutfitter.com/product/34/dot-grid-book' target='_blank'>
Dot Grid Book
</a>
</td>
<td>
UX Wireframing
</td>
</tr>
<tr>
<td>
<a ng-href='http://www.spoke-design.com/' target='_blank'>
Spoke Pencil
</a>
</td>
<td>
UX Wireframing
</td>
</tr>
<tr>
<td>
<a ng-href='http://www.adobe.com/products/photoshop.html' target='_blank'>
Photoshop
</a>
</td>
<td>
UI Design
</td>
</tr>
<tr>
<td>
<a ng-href='http://www.adobe.com/products/illustrator.html' target='_blank'>
Illustrator
</a>
</td>
<td>
Branding Design
</td>
</tr>
<tr>
<td>
<a ng-href='https://typekit.com/fonts/proxima-nova' target='_blank'>
Proxima Nova
</a>
</td>
<td>
Primary Typeface
</td>
</tr>
<tr>
<td>
<a ng-href='http://www.myfonts.com/fonts/adobe/helvetica-neue/' target='_blank'>
Helvetica Neue
</a>
</td>
<td>
Secondary Typeface
</td>
</tr>
<tr>
<td>
<a ng-href='http://iconmonstr.com/' target='_blank'>
Iconmonstr
</a>
</td>
<td>
Icons
</td>
</tr>
<tr>
<td>
<a ng-href='http://thenounproject.com/' target='_blank'>
The Noun Project
</a>
</td>
<td>
Icons
</td>
</tr>
<tr>
<td>
<a ng-href='http://www.widewallpapers.net/' target='_blank'>
Wide Wallpapers
</a>
</td>
<td>
Background Themes
</td>
</tr>
</table>
</div>
</div>
<!-- %div -->
<!-- %a{:href => '#'} CV -->
</div>
</div>
</div>
</section>
</script>
