%script{:id => "views/all.html", :type => "text/ng-template"}
  %section.sub.all
    .innerContent
      %div{:"ng-include" => '', :src => "'views/partials/user-header.html'"}

      .thumbnails
        .thumb
          %img{:src => 'images/thumb-dubleds-web1.jpg'}
        .thumb
          %img{:src => 'images/thumb-dubleds-web2.jpg'}
        .thumb
          %img{:src => 'images/thumb-dubleds-web1.jpg'}
        .thumb
          %img{:src => 'images/thumb-dubleds-web2.jpg'}
        .thumb
          %img{:src => 'images/thumb-dubleds-web1.jpg'}
        .thumb
          %img{:src => 'images/thumb-dubleds-web2.jpg'}
        .thumb
          %img{:src => 'images/thumb-dubleds-web1.jpg'}