<script id='views/clients.html' type='text/ng-template'>
  <section class='sub clients'>
    <div class='innerContent'>
      <div ng-include='' src="'views/partials/user-header.html'"></div>
      Clients Content
    </div>
  </section>
</script>
