%script{:id => "views/clients.html", :type => "text/ng-template"}
  %section.sub.clients
    .innerContent
      %div{:"ng-include" => '', :src => "'views/partials/user-header.html'"}

      Clients Content