<script id='views/contact.html' type='text/ng-template'>
  <section class='sub contact'>
    <div class='innerContent'>
      <div ng-include='' src="'views/partials/user-header.html'"></div>
      Contact Content
    </div>
  </section>
</script>
