%script{:id => "views/contact.html", :type => "text/ng-template"}
  %section.sub.contact
    .innerContent
      %div{:"ng-include" => '', :src => "'views/partials/user-header.html'"}

      Contact Content