<script id='views/cv.html' type='text/ng-template'>
  <section class='sub cv'>
    <div class='innerContent'>
      <div ng-include='' src="'views/partials/user-header.html'"></div>
      CV Content
    </div>
  </section>
</script>
