<script id='views/cv.html' type='text/ng-template'>
<section class='sub cv'>
<div class='innerContent'>
<div ng-include='' src="'views/partials/user-header.html'"></div>
<div class='info-container'>
<div class='content'>
<h3>CV</h3>
<div>
<div class='text'>
<span class='large uppercase'>Isaac T. Wooten</span>
<span class='small'>
<i class='icon-portfolio-stack'></i>
Full-Stack Web Designer & Developer
</span>
<span class='small float-right'>
<a class='tooltips' data-placement='bottom' data-toggle='tooltip' href='/cv/isaacwooten_resume2013.doc' target='_blank' title='Download as .doc'>
<i class='icon-portfolio-file-word'></i>
</a>
</span>
<span class='small float-right'>
<a class='tooltips' data-placement='bottom' data-toggle='tooltip' href='/cv/isaacwooten_resume2013.pdf' target='_blank' title='Download as .pdf'>
<i class='icon-portfolio-file-pdf'></i>
</a>
</span>
<span class='small float-right'>
Download:
</span>
<div class='divider'></div>
<div class='spacer'></div>
<p class='small'>
Well rounded UI/UX web designer & developer with a strong background in web, mobile and print mediums. Over a decade of cross-disciplinary experience designing and building scalable and dynamic websites for many established brands and startups around the world. Active participant in the international design community and often involved in collaborative volunteer design projects in the field of digital media and design.
Constantly seeking challenging new opportunities to innovate, learn, and lead in the interactive space. Always viewing the world from a creative and technical perspective.
</p>
<!-- .divider -->
<div class='spacer'></div>
<h3>Expertise</h3>
<div class='divider'></div>
<p class='small'>Extensive experience in the following areas listed below:</p>
<div class='divider'></div>
</div>
</div>
<div class='expertise-container'>
<div class='expertise'>
<h4>Technical Development</h4>
<ul>
<li>
Hands-on development skills in many programming languages (see below).
</li>
<li>
Quality assurance planning and testing
</li>
<li>
Database modeling and architecture
</li>
<li>
Unit testing and code optimization
</li>
<li>
Technical project management and Dev Operations
</li>
<li>
API Design and Development
</li>
<li>
Realtime single-page apps
</li>
<li>
Server Deployment
</li>
</ul>
</div>
<div class='expertise'>
<h4>Creative Implementation</h4>
<ul>
<li>
Creative concepting and process creation
</li>
<li>
User interface design
</li>
<li>
Visual communication strategy
</li>
<li>
Branding identity and logotype design
</li>
<li>
Motion graphics, animation and interaction design
</li>
<li>
Website design and content structure organization
</li>
</ul>
</div>
<div class='expertise'>
<h4>Information Architecture</h4>
<ul>
<li>
Designing UX wireframes and functional specifications
</li>
<li>
Nomenclature development and naming conventions
</li>
<li>
Database design, integration and organization
</li>
<li>
User A/B testing and UX optimization
</li>
<li>
Online research and feature development
</li>
</ul>
</div>
<div class='expertise'>
<h4>Strategy Development</h4>
<ul>
<li>
Long and short-term strategic planning
</li>
<li>
Content strategy development
</li>
<li>
Content development and management process creation
</li>
<li>
Reporting, market research and data management
</li>
<li>
New business planning and project development
</li>
<li>
Project scope and statement of work development
</li>
<li>
Vendor relationship management
</li>
<li>
Contract negotiations
</li>
</ul>
</div>
</div>
<div class='divider'></div>
<div class='expertise-container'>
<div class='expertise programming'>
<h4>
Programming Languages & Frameworks
</h4>
<ul>
<li>
Ruby
</li>
<li>
Rails
</li>
<li>
Padrino
</li>
<li>
HTML 5
</li>
<li>
HAML
</li>
<li>
CSS/SASS
</li>
<li>
Flash ActionScript 1, 2, and 3
</li>
<li>
JavaScript
</li>
<li>
CoffeeScript
</li>
<li>
PHP
</li>
<li>
Zend Framework
</li>
<li>
MySQL
</li>
<li>
PostgresSQL
</li>
<li>
Node.js
</li>
<li>
Backbone.js
</li>
<li>
Web Sockets
</li>
<li>
Angular.js
</li>
<li>
Mongo DB
</li>
<li>
jQuery
</li>
<li>
MooTools
</li>
</ul>
</div>
</div>
<div>
<div class='text'>
<!-- .divider -->
<h3>Education</h3>
<div class='divider'></div>
<p class='medium'>Art Institute of Seattle (2001 - 2003)</p>
<div class='divider'></div>
<p class='small'>
<strong class='teal'>
Associates of Applied Arts Degree - Multimedia and Web Design
</strong>
<br>
Received a design scholarship to attend AIS by winning a nationwide design contest held in 2000.
</p>
<div class='divider'></div>
</div>
</div>
<div>
<div class='text'>
<div class='spacer'></div>
<h3>Experience</h3>
<div class='divider'></div>
<p class='medium'>Column Five Media, Inc. - Newport Beach, CA</p>
<div class='divider'></div>
</div>
</div>
<div class='experience-container'>
<div class='experience'>
<div class='timeago'>2013</div>
<h4 class='teal'>Senior Software Developer ( June 2013 - Present )</h4>
<ul>
<li>
Lead UI/UX designer and front-end developer for a realtime data visualization, reporting and charting platform called Visage. It is slated to launch early 2014.
</li>
<li>
Lead front-end and back-end developer on the new 2013 columnfivemedia.com Agency site. The technology stack I chose to use consisted of Ruby on Rails, MySQL, Angular.js, CoffeeScript, HAML, SASS, Foundation, Thinking Sphinx, and Memcached. I leveraged Rails/MySQL for the underlying back-end/API layer and Angular.js on the front-end. All images are stored and served from Amazon S3/CloudFront. Full text searching is made possible by Thinking Sphinx and worker processes, and I also leveraged Memached for API and template caching. I used PhantomJS for search engine crawler indexing since it is a single page application.
</li>
</ul>
</div>
<div class='spacer'></div>
</div>
<div>
<div class='text'>
<div class='divider'></div>
<p class='medium'>Kaleo Software, Inc. - Carlsbad, CA</p>
<div class='divider'></div>
</div>
</div>
<div class='experience-container'>
<div class='experience'>
<div class='timeago'>2013</div>
<h4 class='teal'>Principal Product Designer ( September 2012 - March 2013 )</h4>
<ul>
<li>
Lead product designer on all customer facing applications.
</li>
<li>
Developed the front-end of the core product using HAML, SASS, CoffeeScript, and PJAX.
</li>
<li>
Responsible for making each application cross-browser compatible as well as responsive to mobile devices.
</li>
<li>
Assisted in backend development for the core product using Ruby on Rails, PostgresSQL, and unit tests.
</li>
<li>
Improved application speed and optimized load times by using image sprites, web fonts and SVG image assets.
</li>
</ul>
</div>
<div class='spacer'></div>
</div>
<div>
<div class='text'>
<div class='divider'></div>
<p class='medium'>Gaikai, Inc. - Aliso Viejo, CA</p>
<div class='divider'></div>
</div>
</div>
<div class='experience-container'>
<div class='experience'>
<div class='timeago'>2012</div>
<h4 class='teal'>Senior Web Developer ( January 2011 - September 2012 )</h4>
<ul>
<li>
Early employee of a cloud gaming startup that was acquired by Sony Computer Entertainment in mid 2012.
</li>
<li>
Lead developer on a cross-browser JavaScript application capable of viewing our gaming experience in a web browser.
</li>
<li>
Supporting developer on a large-scale Ruby on Rails internal application containing various engines for Application Management, Inventory, Stats, Processes and Data Centers.
</li>
<li>
Supporting developer on a large-scale Padrino application capable of tracking real-time series data on thousands of gaming instances worldwide
</li>
<li>
Supporting developer on an internal tool using web sockets (using Faye) to track uptime of multiple game servers.
</li>
<li>
Lead designer and front-end engineer on a large-scale server-side application management system. The application is capable of managing millions of gaming servers across multiple NOC locations worldwide.
</li>
<li>
In charge of maintaining the gaikai.com corporate site and several gaming website properties from January 2011 - October 2011.
</li>
</ul>
</div>
<div class='spacer'></div>
</div>
<div>
<div class='text'>
<div class='divider'></div>
<p class='medium'>Metagenics, Inc. - San Clemente, CA</p>
<div class='divider'></div>
</div>
</div>
<div class='experience-container'>
<div class='experience'>
<div class='timeago'>2009</div>
<h4 class='teal'>Senior Web Developer ( August 2009 - January 2011 )</h4>
<ul>
<li>
Lead developer on all major web sites and web related projects.
</li>
<li>
Responsible for developing new features within metagenics.com and firstlinetherapy.com.
</li>
<li>
In charge of vetting new 3rd party software that could be integrated within the existing metagenics technology stack.
</li>
<li>
Responsible for architecting a custom Zend Framework integration that will become the standard for all new site development going forward in 2011 and beyond.
</li>
<li>
Developed a public and private REST API that was be used by 3rd party customers and technology partners.
</li>
<li>
Developed a data connector API to talk with 3rd party applications (Eloqua, CyberSource, EchoSign)
</li>
<li>
In charge of building a fully scalable Ecommerce platform that was deployed to all 45,000 customers in 2011.
</li>
<li>
Lead designer and developer on MyMetagenics.com. This project is considered the number one new business driver in the company for 2011 and launched in Q1 2001.
</li>
<li>
In charge of designing and building a public social network for doctors and patients to discuss chronic illness (stopchronicdisease.com).
</li>
<li>
Designed and built various automated drip campaigns and workflows using Eloqua marketing software.
</li>
</ul>
</div>
<div class='spacer'></div>
</div>
<div>
<div class='text'>
<div class='divider'></div>
<p class='medium'>RED Digital Cinema - Lake Forest, CA</p>
<div class='divider'></div>
</div>
</div>
<div class='experience-container'>
<div class='experience'>
<div class='timeago'>2008</div>
<h4 class='teal'>Senior Web Designer / Developer - Red.com  ( August 2008 - December 2008 )</h4>
<ul>
<li>
Put in charge of kicking off design and development for a new corporate online direction for RED.com.
</li>
<li>
Responsible for developing a customized backend framework architecture in PHP and MySQL to assist in the rapid development of a RED.com version 2.0.
</li>
<li>
Assisted with concept designs and branding for the new RED cameras coming out in 2009.
</li>
<li>
Responsible for updating and managing all aspects of visual representation of RED to be used in both print and online.
</li>
<li>
Updated design and branding usage guidelines for third-party company involvement.
</li>
<li>
Defined workflow and documentation for website content, personal development environment, and assisted with future expansion initiatives for the RED online team.
</li>
<li>
Designed and developed a viral website which was released on November 13th to visually explain the future technology plan for RED.com in the coming year as they make products available to the mass consumer market.
</li>
</ul>
</div>
<div class='spacer'></div>
</div>
<div>
<div class='text'>
<div class='divider'></div>
<p class='medium'>Dropout Inc. - Lake Forest, CA</p>
<div class='divider'></div>
</div>
</div>
<div class='experience-container'>
<div class='experience'>
<div class='timeago'>2007</div>
<h4 class='teal'>Creative Director - Mislabeled.com  ( March 2007 - July 2008 )</h4>
<ul>
<li>
Responsible for the development of various flash prototypes and tools to showcase the company product using AS 3.0.
</li>
<li>
Oversaw creation of the user experience and product design for the Mislabeled.com brand.
</li>
<li>
Responsible for creating and managing all aspects of visual representation to be used in print and online.
</li>
<li>
Created design and branding usage guidelines for third-party company involvement.
</li>
<li>
Responsible for all UI design and content organization of Mislabeled's future website and social networking platform.
</li>
<li>
Defined processes and documentation for website user experience activities, features, and tasks.
</li>
<li>
Oversaw creation and delivery of various advertising items including: Etnies GvR event booth design, promotional items such as custom guitar picks, t-shirts and stickers, brand collateral, business cards, web banner ads, and market research documents.
</li>
</ul>
</div>
<div class='spacer'></div>
</div>
<div>
<div class='text'>
<div class='divider'></div>
<p class='medium'>Nintendo of America Inc. - Seattle, WA</p>
<div class='divider'></div>
</div>
</div>
<div class='experience-container'>
<div class='experience'>
<div class='timeago'>2005</div>
<h4 class='teal'>Online Technical Designer and Flash Developer - Online Publications Group  ( January 2005 - March 2007 )</h4>
<ul>
<li>
Assisted in the production, planning, and development of all in-house flash projects and ActionScript 2.0 development.
</li>
<li>
Responsible for reverse-engineering several DS games and porting them to the web using flash and ActionScript 2.0.
</li>
<li>
Worked on many flash micro-sites and flash based games for Nintendo.com and other company products and brands.
</li>
<li>
Partly Responsible for conceptual design, backend development, production design, and systems integration for a multitude of online entities representing Nintendo of America.
</li>
<li>
Worked closely with the senior designer and Art Director to design and build websites for Nintendo's Online Publications department.
</li>
<li>
Assisted in the design and development process for many major brands including: Wii, Nintendo DS, Nintendo Wi-Fi Connection, Nintendo GameCube, and GameBoy Micro.
</li>
<li>
Production design, development and implementation for Nintendo.com and NintendoWifi.com company websites.
</li>
<li>
Print media and advertising collateral for many popular brands including: Super Mario Bros., Metroid, Donkey Kong, Zelda, Yoshi, Animal Crossing, StarFox, Pokemon, Super Smash Bros., Brain Age, Mario Party, Sonic The Hedgehog, Wario, Tetris, Polarium, and Nintendogs.
</li>
</ul>
</div>
<div class='spacer'></div>
</div>
<div>
<div class='text'>
<div class='divider'></div>
<p class='medium'>RiverSharpe Interactive LLC. - Wichita, KS</p>
<div class='divider'></div>
</div>
</div>
<div class='experience-container'>
<div class='experience'>
<div class='timeago'>2000</div>
<h4 class='teal'>Project Designer and Flash Developer ( May 2000 - January 2001 )</h4>
<ul>
<li>
In charge of all Flash UI design , development, and user interaction for various major brand websites, and cd-rom presentations.
</li>
<li>
Responsible for the design and development of a flash based message board for BeautyFirst.
</li>
<li>
Worked closely with programmers to develop a DHTML/Flash overlay front-end for an online software application known as Hemisphere.
</li>
<li>
Assisted as a project designer on several major client projects including: Sports Illustrated, BeautyFirst, Boeing, IBM, Macys, Wal-Mart, and Pepsi Co.
</li>
</ul>
</div>
<div class='spacer'></div>
</div>
<div>
<div class='text'>
<div class='divider'></div>
<p class='medium'>Levid Media LLC. - Seattle, WA</p>
<div class='divider'></div>
</div>
</div>
<div class='experience-container'>
<div class='experience'>
<div class='timeago'>1999</div>
<h4 class='teal'>Founder/CEO/Creative Director  ( August 1999 - present )</h4>
<ul>
<li>
Founded the company in 2000 and managed a small team of remote consultants and web developers to build a design firm specializing in advertising solutions for many clients both large and small from concept planning to final delivery.
</li>
<li>
Worked closely with the senior designer and Art Director to design and build many websites for Nintendo's Online Publications department in Redmond, WA.
</li>
<li>
Oversaw all business development tasks, project planning, design strategy and direction, information architecture, and the implementation process for each project from start to finish.
</li>
<li>
Production design, development and implementation for Nintendo.com, Wii.com and Nintendowifi.com websites.
</li>
<li>
Responsible for all aspects of project design and development for a wide variety of clients including: Nintendo of America, Microsoft, Speakeasy Inc., Climax Entertainment, Cyberathlete Professional League, Cyber X Gaming, Team 3D, GotFrag, Wired Labs, Renovacom Corporation, Dell University, Esports Entertainment Association, Teckademics, and Kofax.
</li>
</ul>
</div>
<div class='spacer'></div>
</div>
<div>
<div class='text'>
<div class='divider'></div>
<p class='medium'>The Great Alaskan Shirt Company - Fairbanks, AK</p>
<div class='divider'></div>
</div>
</div>
<div class='experience-container'>
<div class='experience'>
<div class='timeago'>1999</div>
<h4 class='teal'>Art Director ( May 1999 - May 2001 )</h4>
<ul>
<li>
Responsible for concept development and design implementation for t-shirts, stationery, hats, cups, and embroidery for many nationwide brands, local organizations and events.
</li>
<li>
Oversaw the creative process development for major clients including: Pepsi Co., Coca-Cola, University of Alaska Fairbanks, Alaska Fire Fighters, and the US Army.
</li>
</ul>
</div>
<div class='spacer'></div>
</div>
<div>
<div class='text'>
<div class='spacer'></div>
<h3>Freelance Work</h3>
</div>
</div>
<div>
<div class='text'>
<div class='divider'></div>
<p class='medium teal'>Superfad Interactive, LLC. - Seattle, WA</p>
<div class='divider'></div>
<div class='spacer'></div>
</div>
</div>
<div class='experience-container'>
<div class='experience'>
<ul>
<li>
Coca-Cola - Developed a single-page mobile-web experience for Coca-Cola using JavaScript, HTML5/CSS3 and SVG sprite sheets.
</li>
<li>
I was contracted by Superfad in 2013 to develop a fun social micro-site for Coca-Cola's Ahhh Effect campaign. The interface consisted of twelve themed vector scenes, each with it's own unique look and feel. Each scene contained five draggable hot-spots that could be re-arranged in any order to create a custom and personalized theme. The user could then share it with their friends via Facebook and Twitter.
</li>
<li>
The application was written entirely in Javascript, HTML and CSS and was built to work across desktops, tablets and mobile devices. The SVG layers consisted of full-screen assets, animated sprite sheets and performance was a huge consideration throughout the development process.
</li>
</ul>
</div>
<div class='spacer'></div>
</div>
<div>
<div class='text'>
<div class='divider'></div>
<p class='medium teal'>Royale Interactive, Inc - Los Angeles, CA</p>
<div class='divider'></div>
<div class='spacer'></div>
</div>
</div>
<div class='experience-container'>
<div class='experience'>
<ul>
<li>
Gallo Vineyards - I was contracted by Royale/BBDO in 2013, along with five other developers, to lead the development efforts on crestcreator.com. Gallo Vineyards asked us to develop a personalized crest builder featuring rich vector illustrations, real-time editor, image gallery, admin tool, sharing features via Facebook and Twitter, and also Zazzle integration for generating custom t-shirts, mugs, hoodies and other printed goods.
</li>
<li>
We worked closely to build a responsive single-page application that worked seemlessly across mobile, tablets, and desktop. The technology stack we used consisted of Angular.js, Ruby on Rails, MySQL, Node.js, Faye, Rmagick, Canvas, and SVG.
</li>
<li>
We hosted the application on Amazon EC2 and leveraged S3/CloudFront for image storage.
</li>
</ul>
</div>
<div class='spacer'></div>
</div>
<div>
<div class='text'>
<div class='divider'></div>
<p class='medium teal'>Levid Media, LLC. - Seattle, WA</p>
<div class='divider'></div>
<div class='spacer'></div>
</div>
</div>
<div class='experience-container'>
<div class='experience'>
<ul>
<li>
Complexity Clan - Website design comps
</li>
<li>
Weekend Warriors - Website design and development
</li>
<li>
Sacred Heart University - Website design comps
</li>
<li>
Suracell Research - Logotype and branding identity
</li>
<li>
Team Sportscast Network - Website design comps
</li>
<li>
Team NOA - Website design and development
</li>
<li>
SimplyWicked - Website design and development
</li>
<li>
Exotic Cars Unlimited - Website comps and branding
</li>
<li>
Speakeasy, Inc - Application design, branding, development
</li>
<li>
Flingo.tv, Flingo.org - Website design, branding, front-end xhtml/css development
</li>
<li>
Gigspark.com - Website design, branding, development
</li>
<li>
CBDMarketing.com - Website design, branding, development
</li>
<li>
AmpedNews.com - Website design, branding, front-end development, motion graphics
</li>
</ul>
</div>
<div class='experience'>
<ul>
<li>
TheAlaskaSite.com - Website comps and identity design
</li>
<li>
NoMonthlyFees.com - Website design comps
</li>
<li>
Games Media Properties - Website design comps
</li>
<li>
CAL League - LAN Tournament intranet design
</li>
<li>
The CPL - Website design and front-end development
</li>
<li>
Inc Productions - Website comps and logotype design
</li>
<li>
Kayako - Website design comps
</li>
<li>
Invisible Hand Networks - Website design, development
</li>
<li>
Sprout Games - Branding and identity comps
</li>
<li>
Drinkat18.com - Website design and branding
</li>
<li>
RedShift Interactive - Website design and branding
</li>
<li>
CueScore App - iOS/Android App Design, Development
</li>
<li>
Impact Marketing - Flex App Design, Website design
</li>
<li>
Team NEG - Motion Graphics
</li>
</ul>
</div>
<div class='spacer'></div>
</div>
<div>
<div class='text'>
<div class='divider'></div>
<p class='medium teal'>AKTA Web Studio, Inc. - Chicago, IL</p>
<div class='divider'></div>
<div class='spacer'></div>
</div>
</div>
<div class='experience-container'>
<div class='experience'>
<ul>
<li>
weareakta.com - Website design, branding package, front-end xhtml/css development
</li>
<li>
Magento, Inc - Mobile E-Commerce application design for iOS platform in 3 resolutions
</li>
<li>
MODX, Inc - CMS Platform website re-design
</li>
<li>
TopGolf, Inc - Kiosk Application UI/UX Design for on-site customers and maintenance applications
</li>
<li>
Vosges Chocolate, Inc - Ecommerce platform UI design and website design
</li>
<li>
Traklabs.com - Online software product design, website design, branding, front-end and backend PHP development
</li>
</ul>
</div>
<div class='spacer'></div>
</div>
<div>
<div class='text'>
<div class='divider'></div>
<p class='medium teal'>Socialvision, Inc. - San Francisco, CA</p>
<div class='divider'></div>
<div class='spacer'></div>
</div>
</div>
<div class='experience-container'>
<div class='experience'>
<ul>
<li>
YouTubeSocial.com - Platform integration design and user experience design.
</li>
<li>
Socialvisioninc.com - Website UI and UX design.
</li>
</ul>
</div>
<div class='spacer'></div>
</div>
<div>
<div class='text'>
<div class='divider'></div>
<p class='medium teal'>World Domination Design Group ( WDDG ), Inc. - New York, NY</p>
<div class='divider'></div>
<div class='spacer'></div>
</div>
</div>
<div class='experience-container'>
<div class='experience'>
<ul>
<li>
Planters.com - Website design comps and front-end development
</li>
<li>
Altoids.com - Website design comps and front-end development
</li>
<li>
Flash Widgets - Widget custom skin creation and implementation (Actionscript 2.0)
</li>
</ul>
</div>
<div class='spacer'></div>
</div>
</div>
</div>
</div>
</section>
</script>
