%script{:id => "views/cv.html", :type => "text/ng-template"}
  %section.sub.cv
    .innerContent
      %div{:"ng-include" => '', :src => "'views/partials/user-header.html'"}

      .info-container
        .content
          %h3 CV
          %div
            .text
              %span.large.uppercase Isaac T. Wooten
              %span.small.teal Full-Stack Web Developer
              %span.small.float-right i.wooten@gmail.com
              / .divider
              / %p.medium Full-Stack Web Developer
              .divider
              .spacer
              %p.small
                Well rounded full-stack web developer with a strong background in design and development for the web, mobile and print mediums. Eleven years of cross-disciplinary experience designing and building scalable and dynamic websites for many established brands and startups around the world. Active participant in the international design community and often involved in collaborative volunteer design projects in the field of digital media and design.
                Constantly seeking challenging new opportunities to innovate, learn, and lead in the interactive space. Always viewing the world from a creative perspective.

              / .divider
              .spacer
              %h3 Expertise
              .divider
              %p.small Extensive experience in the following areas listed below:
              .divider

          .expertise-container
            .expertise
              %h4 Strategy Development
              %ul
                %li
                  Long and short-term strategic planning
                %li
                  Content strategy development
                %li
                  Content development and management process creation
                %li
                  Reporting, market research and data management
                %li
                  New business planning and project development
                %li
                  Project scope and statement of work development
                %li
                  Vendor relationship management
                %li
                  Contract negotiations

            .expertise
              %h4 Technical Development
              %ul
                %li
                  Hands-on development skills in: Ruby on Rails, Padrino, HTML 5, CSS/SASS, ActionScript, JavaScript, PHP, MySQL, Node.js,  Zend Framework, Mongo, CoffeeScript
                %li
                  Technical project management
                %li
                  Quality assurance planning and testing
                %li
                  Database planning and architecture
                %li
                  Performance management and code optimization
                %li
                  API Development and framework architecture planning


            .expertise
              %h4 Information Architecture
              %ul
                %li
                  Developing sitemap, wireframe, and functional specifications
                %li
                  Nomenclature development and naming conventions
                %li
                  Database design, integration and organization
                %li
                  User A/B testing and UX optimization
                %li
                  Online research and feature development

            .expertise
              %h4 Creative Implementation
              %ul
                %li
                  Creative concepting and process creation
                %li
                  Visual communication strategy
                %li
                  Branding identity and logotype design
                %li
                  Motion graphics, animation and interaction design
                %li
                  Website design and content structure organization

          %div
            .text
              / .divider
              %h3 Education
              .divider
              %p.medium Art Institute of Seattle (2001 - 2003)
              .divider
              %p.small
                %strong.teal
                  Associates of Applied Arts Degree - Multimedia and Web Design
                %br/
                Received a design scholarship to attend AIS by winning a nationwide design contest held in 2000.
              .divider

          %div
            .text
              .spacer
              %h3 Experience
              .divider
              %p.medium Kaleo Software, Inc. - Carlsbad, CA
              .divider

          .experience-container
            .experience
              .timeago 2013
              %h4.teal Principal Product Designer ( September 2012 - March 2013 )
              %ul
                %li
                  Lead product designer on all customer facing applications.
                %li
                  Developed the front-end of the core product using HAML, SASS, CoffeeScript, and PJAX.
                %li
                  Responsible for making each application cross-browser compatible as well as responsive to mobile devices.
                %li
                  Assisted in backend development for the core product using Ruby on Rails, PostgresSQL, and unit tests.
                %li
                  Improved application speed and optimized load times by using image sprites, web fonts and SVG image assets.
            .spacer

          %div
            .text
              .divider
              %p.medium Gaikai, Inc. - Aliso Viejo, CA
              .divider

          .experience-container
            .experience
              .timeago 2012
              %h4.teal Senior Web Developer ( January 2011 - September 2012 )
              %ul
                %li
                  Early employee of a cloud gaming startup that was acquired by Sony Computer Entertainment in mid 2012.
                %li
                  Lead developer on a cross-browser JavaScript application capable of viewing our gaming experience in a web browser.
                %li
                  Supporting developer on a large-scale Ruby on Rails internal application containing various engines for Application Management, Inventory, Stats, Processes and Data Centers.
                %li
                  Supporting developer on a large-scale Padrino application capable of tracking real-time series data on thousands of gaming instances worldwide
                %li
                  Supporting developer on an internal tool using web sockets (using Faye) to track uptime of multiple game servers.
                %li
                  Lead designer and front-end engineer on a large-scale server-side application management system. The application is capable of managing millions of gaming servers across multiple NOC locations worldwide.
                %li
                  In charge of maintaining the gaikai.com corporate site and several gaming website properties from January 2011 - October 2011.

            .spacer

          %div
            .text
              .divider
              %p.medium Metagenics, Inc. - San Clemente, CA
              .divider

          .experience-container
            .experience
              .timeago 2009
              %h4.teal Senior Web Developer ( August 2009 - January 2011 )
              %ul
                %li
                  Lead developer on all major web sites and web related projects.
                %li
                  Responsible for developing new features within metagenics.com and firstlinetherapy.com.
                %li
                  In charge of vetting new 3rd party software that could be integrated within the existing metagenics technology stack.
                %li
                  Responsible for architecting a custom Zend Framework integration that will become the standard for all new site development going forward in 2011 and beyond.
                %li
                  Developed a public and private REST API that was be used by 3rd party customers and technology partners.
                %li
                  Developed a data connector API to talk with 3rd party applications (Eloqua, CyberSource, EchoSign)
                %li
                  In charge of building a fully scalable Ecommerce platform that was deployed to all 45,000 customers in 2011.
                %li
                  Lead designer and developer on MyMetagenics.com. This project is considered the number one new business driver in the company for 2011 and launched in Q1 2001.
                %li
                  In charge of designing and building a public social network for doctors and patients to discuss chronic illness (stopchronicdisease.com).
                %li
                  Designed and built various automated drip campaigns and workflows using Eloqua marketing software.

            .spacer

          / #pie-chart
          /   %span#label1.chart-label{:style => "display: inline;"} Responsive Development
          /   %svg#line1.chart-line{:style => "display: inline;"}
          /     %line{:style => "stroke:rgb(21,21,21);stroke-width:1", :x1 => "0", :x2 => "25", :y1 => "0", :y2 => "25"}
          /   %span#label2.chart-label{:style => "display: inline;"} Social Media
          /   %svg#line2.chart-line{:style => "display: inline;"}
          /     %line{:style => "stroke:rgb(21,21,21);stroke-width:1", :x1 => "25", :x2 => "0", :y1 => "0", :y2 => "25"}
          /   %span#label3.chart-label{:style => "display: inline;"} UI Design
          /   %svg#line3.chart-line{:style => "display: inline;"}
          /     %line{:style => "stroke:rgb(21,21,21);stroke-width:1", :x1 => "0", :x2 => "25", :y1 => "0", :y2 => "25"}
          /   %span#label4.chart-label{:style => "display: inline;"} Performance Testing
          /   %svg#line4.chart-line{:style => "display: inline;"}
          /     %line{:style => "stroke:rgb(21,21,21);stroke-width:1", :x1 => "25", :x2 => "0", :y1 => "0", :y2 => "25"}
