%script{:id => "views/cv.html", :type => "text/ng-template"}
  %section.sub.cv
    .innerContent
      %div{:"ng-include" => '', :src => "'views/partials/user-header.html'"}

      .info-container
        .content
          %h3 CV
          %div
            .text
              %span.large.uppercase Isaac T. Wooten
              %span.small Full-Stack Web Designer & Developer
              %span.small.float-right
                %a.tooltips{:href => '#', :"data-toggle" => "tooltip", :title => "Download as .doc", :"data-placement" => 'bottom'}
                  %i.icon-portfolio-file-word
              %span.small.float-right
                %a.tooltips{:href => '#', :"data-toggle" => "tooltip", :title => "Download as .pdf", :"data-placement" => 'bottom'}
                  %i.icon-portfolio-file-pdf
              .divider
              .spacer
              %p.small
                Well rounded UI/UX web designer & developer with a strong background in web, mobile and print mediums. Over a decade of cross-disciplinary experience designing and building scalable and dynamic websites for many established brands and startups around the world. Active participant in the international design community and often involved in collaborative volunteer design projects in the field of digital media and design.
                Constantly seeking challenging new opportunities to innovate, learn, and lead in the interactive space. Always viewing the world from a creative and technical perspective.

              / .divider
              .spacer
              %h3 Expertise
              .divider
              %p.small Extensive experience in the following areas listed below:
              .divider

          .expertise-container
            .expertise
              %h4 Technical Development
              %ul
                %li
                  Hands-on development skills in many programming languages (see below).
                %li
                  Quality assurance planning and testing
                %li
                  Database modeling and architecture
                %li
                  Unit testing and code optimization
                %li
                  Technical project management and Dev Operations
                %li
                  API Design and Development
                %li
                  Realtime single-page apps
                %li
                  Server Deployment

            .expertise
              %h4 Creative Implementation
              %ul
                %li
                  Creative concepting and process creation
                %li
                  User interface design
                %li
                  Visual communication strategy
                %li
                  Branding identity and logotype design
                %li
                  Motion graphics, animation and interaction design
                %li
                  Website design and content structure organization

            .expertise
              %h4 Information Architecture
              %ul
                %li
                  Designing UX wireframes and functional specifications
                %li
                  Nomenclature development and naming conventions
                %li
                  Database design, integration and organization
                %li
                  User A/B testing and UX optimization
                %li
                  Online research and feature development

            .expertise
              %h4 Strategy Development
              %ul
                %li
                  Long and short-term strategic planning
                %li
                  Content strategy development
                %li
                  Content development and management process creation
                %li
                  Reporting, market research and data management
                %li
                  New business planning and project development
                %li
                  Project scope and statement of work development
                %li
                  Vendor relationship management
                %li
                  Contract negotiations

          .divider
          .expertise-container
            .expertise.programming
              %h4 Programming Languages & Frameworks
              %ul
                %li
                  Ruby
                %li
                  Rails
                %li
                  Padrino
                %li
                  HTML 5
                %li
                  HAML
                %li
                  CSS/SASS
                %li
                  Flash ActionScript 1, 2, and 3
                %li
                  JavaScript
                %li
                  CoffeeScript
                %li
                  PHP
                %li
                  Zend Framework
                %li
                  MySQL
                %li
                  PostgresSQL
                %li
                  Node.js
                %li
                  Backbone.js
                %li
                  Web Sockets
                %li
                  Angular.js
                %li
                  Mongo DB
                %li
                  jQuery
                %li
                  MooTools

          %div
            .text
              / .divider
              %h3 Education
              .divider
              %p.medium Art Institute of Seattle (2001 - 2003)
              .divider
              %p.small
                %strong.teal
                  Associates of Applied Arts Degree - Multimedia and Web Design
                %br/
                Received a design scholarship to attend AIS by winning a nationwide design contest held in 2000.
              .divider

          %div
            .text
              .spacer
              %h3 Experience
              .divider
              %p.medium Kaleo Software, Inc. - Carlsbad, CA
              .divider

          .experience-container
            .experience
              .timeago 2013
              %h4.teal Principal Product Designer ( September 2012 - March 2013 )
              %ul
                %li
                  Lead product designer on all customer facing applications.
                %li
                  Developed the front-end of the core product using HAML, SASS, CoffeeScript, and PJAX.
                %li
                  Responsible for making each application cross-browser compatible as well as responsive to mobile devices.
                %li
                  Assisted in backend development for the core product using Ruby on Rails, PostgresSQL, and unit tests.
                %li
                  Improved application speed and optimized load times by using image sprites, web fonts and SVG image assets.
            .spacer

          %div
            .text
              .divider
              %p.medium Gaikai, Inc. - Aliso Viejo, CA
              .divider

          .experience-container
            .experience
              .timeago 2012
              %h4.teal Senior Web Developer ( January 2011 - September 2012 )
              %ul
                %li
                  Early employee of a cloud gaming startup that was acquired by Sony Computer Entertainment in mid 2012.
                %li
                  Lead developer on a cross-browser JavaScript application capable of viewing our gaming experience in a web browser.
                %li
                  Supporting developer on a large-scale Ruby on Rails internal application containing various engines for Application Management, Inventory, Stats, Processes and Data Centers.
                %li
                  Supporting developer on a large-scale Padrino application capable of tracking real-time series data on thousands of gaming instances worldwide
                %li
                  Supporting developer on an internal tool using web sockets (using Faye) to track uptime of multiple game servers.
                %li
                  Lead designer and front-end engineer on a large-scale server-side application management system. The application is capable of managing millions of gaming servers across multiple NOC locations worldwide.
                %li
                  In charge of maintaining the gaikai.com corporate site and several gaming website properties from January 2011 - October 2011.

            .spacer

          %div
            .text
              .divider
              %p.medium Metagenics, Inc. - San Clemente, CA
              .divider

          .experience-container
            .experience
              .timeago 2009
              %h4.teal Senior Web Developer ( August 2009 - January 2011 )
              %ul
                %li
                  Lead developer on all major web sites and web related projects.
                %li
                  Responsible for developing new features within metagenics.com and firstlinetherapy.com.
                %li
                  In charge of vetting new 3rd party software that could be integrated within the existing metagenics technology stack.
                %li
                  Responsible for architecting a custom Zend Framework integration that will become the standard for all new site development going forward in 2011 and beyond.
                %li
                  Developed a public and private REST API that was be used by 3rd party customers and technology partners.
                %li
                  Developed a data connector API to talk with 3rd party applications (Eloqua, CyberSource, EchoSign)
                %li
                  In charge of building a fully scalable Ecommerce platform that was deployed to all 45,000 customers in 2011.
                %li
                  Lead designer and developer on MyMetagenics.com. This project is considered the number one new business driver in the company for 2011 and launched in Q1 2001.
                %li
                  In charge of designing and building a public social network for doctors and patients to discuss chronic illness (stopchronicdisease.com).
                %li
                  Designed and built various automated drip campaigns and workflows using Eloqua marketing software.

            .spacer

          %div
            .text
              .divider
              %p.medium RED Digital Cinema - Lake Forest, CA
              .divider

          .experience-container
            .experience
              .timeago 2008
              %h4.teal Senior Web Designer / Developer - Red.com  ( August 2008 - December 2008 )
              %ul
                %li
                  Put in charge of kicking off design and development for a new corporate online direction for RED.com.
                %li
                  Responsible for developing a customized backend framework architecture in PHP and MySQL to assist in the rapid development of a RED.com version 2.0.
                %li
                  Assisted with concept designs and branding for the new RED cameras coming out in 2009.
                %li
                  Responsible for updating and managing all aspects of visual representation of RED to be used in both print and online.
                %li
                  Updated design and branding usage guidelines for third-party company involvement.
                %li
                  Defined workflow and documentation for website content, personal development environment, and assisted with future expansion initiatives for the RED online team.
                %li
                  Designed and developed a viral website which was released on November 13th to visually explain the future technology plan for RED.com in the coming year as they make products available to the mass consumer market.

            .spacer

          %div
            .text
              .divider
              %p.medium Dropout Inc. - Lake Forest, CA
              .divider

          .experience-container
            .experience
              .timeago 2007
              %h4.teal Creative Director - Mislabeled.com  ( March 2007 - July 2008 )
              %ul
                %li
                  Responsible for the development of various flash prototypes and tools to showcase the company product using AS 3.0.
                %li
                  Oversaw creation of the user experience and product design for the Mislabeled.com brand.
                %li
                  Responsible for creating and managing all aspects of visual representation to be used in print and online.
                %li
                  Created design and branding usage guidelines for third-party company involvement.
                %li
                  Responsible for all UI design and content organization of Mislabeled's future website and social networking platform.
                %li
                  Defined processes and documentation for website user experience activities, features, and tasks.
                %li
                  Oversaw creation and delivery of various advertising items including: Etnies GvR event booth design, promotional items such as custom guitar picks, t-shirts and stickers, brand collateral, business cards, web banner ads, and market research documents.

            .spacer

          %div
            .text
              .divider
              %p.medium Nintendo of America Inc. - Seattle, WA
              .divider

          .experience-container
            .experience
              .timeago 2005
              %h4.teal Online Technical Designer and Flash Developer - Online Publications Group  ( January 2005 - March 2007 )
              %ul
                %li
                  Assisted in the production, planning, and development of all in-house flash projects and ActionScript 2.0 development.
                %li
                  Responsible for reverse-engineering several DS games and porting them to the web using flash and ActionScript 2.0.
                %li
                  Worked on many flash micro-sites and flash based games for Nintendo.com and other company products and brands.
                %li
                  Partly Responsible for conceptual design, backend development, production design, and systems integration for a multitude of online entities representing Nintendo of America.
                %li
                  Worked closely with the senior designer and Art Director to design and build websites for Nintendo's Online Publications department.
                %li
                  Assisted in the design and development process for many major brands including: Wii, Nintendo DS, Nintendo Wi-Fi Connection, Nintendo GameCube, and GameBoy Micro.
                %li
                  Production design, development and implementation for Nintendo.com and NintendoWifi.com company websites.
                %li
                  Print media and advertising collateral for many popular brands including: Super Mario Bros., Metroid, Donkey Kong, Zelda, Yoshi, Animal Crossing, StarFox, Pokemon, Super Smash Bros., Brain Age, Mario Party, Sonic The Hedgehog, Wario, Tetris, Polarium, and Nintendogs.

            .spacer

          %div
            .text
              .divider
              %p.medium RiverSharpe Interactive LLC. - Wichita, KS
              .divider

          .experience-container
            .experience
              .timeago 2000
              %h4.teal Project Designer and Flash Developer ( May 2000 - January 2001 )
              %ul
                %li
                  In charge of all Flash UI design , development, and user interaction for various major brand websites, and cd-rom presentations.
                %li
                  Responsible for the design and development of a flash based message board for BeautyFirst.
                %li
                  Worked closely with programmers to develop a DHTML/Flash overlay front-end for an online software application known as Hemisphere.
                %li
                  Assisted as a project designer on several major client projects including: Sports Illustrated, BeautyFirst, Boeing, IBM, Macys, Wal-Mart, and Pepsi Co.

            .spacer

          %div
            .text
              .divider
              %p.medium Levid Media LLC. - Seattle, WA
              .divider

          .experience-container
            .experience
              .timeago 1999
              %h4.teal Founder/CEO/Creative Director  ( August 1999 - present )
              %ul
                %li
                  Founded the company in 2000 and managed a small team of remote consultants and web developers to build a design firm specializing in advertising solutions for many clients both large and small from concept planning to final delivery.
                %li
                  Worked closely with the senior designer and Art Director to design and build many websites for Nintendo's Online Publications department in Redmond, WA.
                %li
                  Oversaw all business development tasks, project planning, design strategy and direction, information architecture, and the implementation process for each project from start to finish.

                %li
                  Production design, development and implementation for Nintendo.com, Wii.com and Nintendowifi.com websites.
                %li
                  Responsible for all aspects of project design and development for a wide variety of clients including: Nintendo of America, Microsoft, Speakeasy Inc., Climax Entertainment, Cyberathlete Professional League, Cyber X Gaming, Team 3D, GotFrag, Wired Labs, Renovacom Corporation, Dell University, Esports Entertainment Association, Teckademics, and Kofax.

            .spacer

          %div
            .text
              .divider
              %p.medium The Great Alaskan Shirt Company - Fairbanks, AK
              .divider

          .experience-container
            .experience
              .timeago 1999
              %h4.teal Art Director  ( May 1999 - May 2001 )
              %ul
                %li
                  Responsible for concept development and design implementation for t-shirts, stationery, hats, cups, and embroidery for many nationwide brands, local organizations and events.
                %li
                  Oversaw the creative process development for major clients including: Pepsi Co., Coca-Cola, University of Alaska Fairbanks, Alaska Fire Fighters, and the US Army.

            .spacer

          %div
            .text
              .spacer
              %h3 Freelance Work

          %div
            .text
              .divider
              %p.medium.teal Levid Media LLC. - Seattle, WA
              .divider
              .spacer

          .experience-container
            .experience
              %ul
                %li
                  Complexity Clan - Website design comps
                %li
                  Weekend Warriors - Website design and development
                %li
                  Sacred Heart University - Website design comps
                %li
                  Suracell Research - Logotype and branding identity
                %li
                  Team Sportscast Network - Website design comps
                %li
                  Team NOA - Website design and development
                %li
                  SimplyWicked - Website design and development
                %li
                  Exotic Cars Unlimited - Website comps and branding
                %li
                  Speakeasy, Inc - Application design, branding, development
                %li
                  Flingo.tv, Flingo.org - Website design, branding, front-end xhtml/css development
                %li
                  Gigspark.com - Website design, branding, development
                %li
                  CBDMarketing.com - Website design, branding, development
                %li
                  AmpedNews.com - Website design, branding, front-end development, motion graphics
            .experience
              %ul
                %li
                  TheAlaskaSite.com - Website comps and identity design
                %li
                  NoMonthlyFees.com - Website design comps
                %li
                  Games Media Properties - Website design comps
                %li
                  CAL League - LAN Tournament intranet design
                %li
                  The CPL - Website design and front-end development
                %li
                  Inc Productions - Website comps and logotype design
                %li
                  Kayako - Website design comps
                %li
                  Invisible Hand Networks - Website design, development
                %li
                  Sprout Games - Branding and identity comps
                %li
                  Drinkat18.com - Website design and branding
                %li
                  RedShift Interactive - Website design and branding
                %li
                  CueScore App - iOS/Android App Design, Development
                %li
                  Impact Marketing - Flex App Design, Website design
                %li
                  Team NEG - Motion Graphics

            .spacer

          %div
            .text
              .divider
              %p.medium.teal WDDG Inc. - New York, NY
              .divider
              .spacer

          .experience-container
            .experience
              %ul
                %li
                  Planters.com - Website design comps and front-end development
                %li
                  Altoids.com - Website design comps and front-end development
                %li
                  Flash Widgets - Widget custom skin creation and implementation (Actionscript 2.0)

            .spacer

          %div
            .text
              .divider
              %p.medium.teal Socialvision Inc. - San Francisco, CA
              .divider
              .spacer

          .experience-container
            .experience
              %ul
                %li
                  YouTubeSocial.com - Platform integration design and user experience design.
                %li
                  Socialvisioninc.com - Website UI and UX design.

            .spacer

          %div
            .text
              .divider
              %p.medium.teal AKTA Web Studio Inc. - Chicago, IL
              .divider
              .spacer

          .experience-container
            .experience
              %ul
                %li
                  weareakta.com - Website design, branding package, front-end xhtml/css development
                %li
                  Magento, Inc - Mobile E-Commerce application design for iOS platform in 3 resolutions
                %li
                  MODX, Inc - CMS Platform website re-design
                %li
                  TopGolf, Inc - Kiosk Application UI/UX Design for on-site customers and maintenance applications
                %li
                  Vosges Chocolate, Inc - Ecommerce platform UI design and website design
                %li
                  Traklabs.com - Online software product design, website design, branding, front-end and backend PHP development

            .spacer

          %div
            .text
              .divider
              %p.medium.teal Superfad Inc. - Seattle, WA
              .divider
              .spacer

          .experience-container
            .experience
              %ul
                %li
                  Coca-Cola - Developed a single-page mobile-web experience for Coca-Cola using JavaScript, CSS and SVG sprite sheets.

            .spacer
