%script{:id => "views/design.html", :type => "text/ng-template"}
  %section.sub.design{:"ng-controller" => "WorkController"}
    .innerContent

      %div{:"ng-include" => '', :src => "'views/partials/user-header.html'"}

      .thumbnails{:"ng-init" => "getThumbnails(projects)"}
        %div{:"ng-repeat" => "project in projects | orderBy:name:descending | filter:category"}
          / .thumb
          /   %img{:src => "project.thumbnail_image"}


          .thumb{:"ng-repeat" => "image in getThumbnails(project.images) "}
            %img{:src => "images/{{image}}"}