%script{:id => "views/home.html", :type => "text/ng-template"}
  %section.home
    .innerContent

      %div{:"ng-include" => '', :src => "'views/partials/user-header.html'"}

      %div{:"ng-include" => '', :src => "'views/partials/theme-container.html'"}

      %ul.nav
        %li.large
          %a{:"ng-href" => '#/work/design', :data => {:target => 'design'}} Design
        %li.large
          %a{:"ng-href" => '#/work/identity', :data => {:target => 'identity'}} Identity
        %li.large
          %a{:"ng-href" => '#/work/code', :data => {:target => 'code'}} Code
        %li.large
          %a{:"ng-href" => '#/work/web', :data => {:target => 'web'}} Web
        / %li.spacer
        %li.filter-by
          %a{:"ng-href" => '#/work'}
            .hex
              %span.all All
        %li.small
          %a{:"ng-href" => '#/about', :data => {:target => 'about'}} About
        %li.small
          %a{:"ng-href" => '#/contact', :data => {:target => 'contact'}} Contact
        %li.small
          %a{:"ng-href" => '#/clients', :data => {:target => 'clients'}} Clients
        %li.small
          %a{:"ng-href" => '#/cv', :data => {:target => 'cv'}} CV

      .theme-block
        .thumbnail
          %img{:src => ''}
        .arrow
          %a{:"ng-href" => '#'}

    .lens-flare
      %img{:src => 'images/lens-flare.png'}