<script id='views/home.html' type='text/ng-template'>
<section class='home'>
<!-- %div{:"ng-include" => '', :src => "'views/partials/theme-container.html'"} -->
<div class='innerContent'>
<div ng-include='' src="'views/partials/user-header.html'"></div>
<ul class='nav'>
<li class='large'>
<a data-target='design' ng-href='#/work/design'>
<div class='text'>&nbsp;</div>
</a>
<div class='shuffle'>Design</div>
</li>
<li class='large'>
<a data-target='identity' ng-href='#/work/identity'>
<div class='text'>&nbsp;</div>
</a>
<div class='shuffle'>Identity</div>
</li>
<li class='large'>
<a data-target='code' ng-href='#/work/code'>
<div class='text'>&nbsp;</div>
</a>
<div class='shuffle'>Code</div>
</li>
<li class='large'>
<a data-target='web' ng-href='#/work/web'>
<div class='text'>&nbsp;</div>
</a>
<div class='shuffle'>Web</div>
</li>
<li class='filter-by'>
<a ng-href='#/work/all'>
<div class='hex hex'>
<div class='hex-in1'>
<div class='hex-in2'>
<span class='all'>All</span>
</div>
</div>
</div>
</a>
</li>
<li class='small'>
<a data-target='about' ng-href='#/about'>
<div class='text'>&nbsp;</div>
</a>
<div class='shuffle'>About</div>
</li>
<li class='small'>
<a data-target='contact' ng-href='#/contact'>
<div class='text'>&nbsp;</div>
</a>
<div class='shuffle'>Contact</div>
</li>
<li class='small'>
<a data-target='clients' ng-href='#/clients'>
<div class='text'>&nbsp;</div>
</a>
<div class='shuffle'>Clients</div>
</li>
<li class='small'>
<a data-target='cv' ng-href='#/cv'>
<div class='text'>&nbsp;</div>
</a>
<div class='shuffle'>CV</div>
</li>
<li class='small'>
<a data-target='themes' ng-href='#/themes'>
<div class='text'>&nbsp;</div>
</a>
<div class='shuffle'>Themes</div>
</li>
</ul>
<div class='theme-block'>
<div class='thumbnail'>
<img src=''>
</div>
<div class='arrow'>
<a ng-href='#'></a>
</div>
</div>
</div>
<div class='lens-flare'>
<img src='images/lens-flare.png'>
</div>
</section>
</script>
