%script{:id => "views/home.html", :type => "text/ng-template"}
  %section.home
    .innerContent

      %div{:"ng-include" => '', :src => "'views/partials/user-header.html'"}

      %div{:"ng-include" => '', :src => "'views/partials/theme-container.html'"}

      %ul.nav
        %li.large
          %a{:href => '/#/design', :data => {:target => 'design'}} Design
        %li.large
          %a{:href => '/#/identity', :data => {:target => 'identity'}} Identity
        %li.large
          %a{:href => '/#/code', :data => {:target => 'code'}} Code
        %li.large
          %a{:href => '/#/web', :data => {:target => 'web'}} Web
        / %li.spacer
        %li.filter-by
          %a{:href => '/#/all'}
            .hex
              %span.all All
        %li.small
          %a{:href => '/#/about', :data => {:target => 'about'}} About
        %li.small
          %a{:href => '/#/contact', :data => {:target => 'contact'}} Contact
        %li.small
          %a{:href => '/#/clients', :data => {:target => 'clients'}} Clients
        %li.small
          %a{:href => '/#/cv', :data => {:target => 'cv'}} CV

      .theme-block
        .thumbnail
          %img{:src => ''}
        .arrow
          %a{:href => '#'}

    .lens-flare
      %img{:src => 'images/lens-flare.png'}