%script{:id => "views/home.html", :type => "text/ng-template"}
  %section.home
    / %div{:"ng-include" => '', :src => "'views/partials/theme-container.html'"}

    .innerContent

      %div{:"ng-include" => '', :src => "'views/partials/user-header.html'"}

      %ul.nav
        %li.large
          %a{:"ng-href" => '#/work/design', :data => {:target => 'design'}}
            .text &nbsp;
          .shuffle Design
        %li.large
          %a{:"ng-href" => '#/work/identity', :data => {:target => 'identity'}}
            .text &nbsp;
          .shuffle Identity
        %li.large
          %a{:"ng-href" => '#/work/code', :data => {:target => 'code'}}
            .text &nbsp;
          .shuffle Code
        %li.large
          %a{:"ng-href" => '#/work/web', :data => {:target => 'web'}}
            .text &nbsp;
          .shuffle Web
        %li.filter-by
          %a{:"ng-href" => '#/work/all'}
            .hex.hex
              .hex-in1
                .hex-in2
                  %span.all All
        %li.small
          %a{:"ng-href" => '#/about', :data => {:target => 'about'}}
            .text &nbsp;
          .shuffle About
        %li.small
          %a{:"ng-href" => '#/contact', :data => {:target => 'contact'}}
            .text &nbsp;
          .shuffle Contact
        %li.small
          %a{:"ng-href" => '#/clients', :data => {:target => 'clients'}}
            .text &nbsp;
          .shuffle Clients
        %li.small
          %a{:"ng-href" => '#/cv', :data => {:target => 'cv'}}
            .text &nbsp;
          .shuffle CV
        %li.small
          %a{:"ng-href" => '#/themes', :data => {:target => 'themes'}}
            .text &nbsp;
          .shuffle Themes

      .theme-block
        .thumbnail
          %img{:src => ''}
        .arrow
          %a{:"ng-href" => '#'}

    .lens-flare
      %img{:src => 'images/lens-flare.png'}